form
{
	padding:2px;
}
form label,label
{
	padding-top:3px;
	text-align:right;
}
form label
{
	float:left;
}
textarea
{
	border:solid 1px #d4d4d4;	
}
input
{
	height:18px;
	/*background-color:#FFCC33;*/
	border:solid 1px #d4d4d4;
}
input[type=checkbox],input[type=radio]
{
	width:18px;
	border:0px;
}
select
{
	border:solid 1px #d4d4d4;
	clip:rect(0 80 20 0);
}