<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 培训机构 -->
<mapper namespace="com.examw.netplatform.dao.admin.settings.Agency">
    <!-- 查询结果映射 -->
    <resultMap type="Agency" id="agencyEntityResultMap">
        <id property="id" column="id"/><!-- 培训机构ID -->
        <result property="name" column="name"/><!-- 培训机构名称 -->
       	<result property="abbr_cn" column="abbr_cn"/><!-- 中文简称 -->
       	<result property="abbr_en" column="abbr_en"/><!-- 英文简称 -->
       	<result property="keywords" column="keywords" /><!-- 关键字 -->
       	<result property="address" column="address" /><!-- 培训机构地址 -->
       	<result property="tel" column="tel" /><!-- 联系电话 -->
       	<result property="fax" column="fax"/><!-- 传真号码 -->
       	<result property="introduction" column="introduction" /><!-- 机构简介 -->
       	<result property="remarks" column="remarks" /><!-- 备注 -->
       	<result property="logo_url" column="logo_url" /><!-- logoURL -->
       	<result property="status" column="status" /><!-- 机构状态:0-停用,1-启用 -->
       	<result property="packageCount" column="package_count"/><!-- 套餐上限:-1-无上限 -->
       	<result property="accountCount" column="account_count" /><!-- 用户上限:-1-无上限 -->
       	<result property="createTime" column="createTime" /><!-- 创建时间 -->
       	<result property="lastTime" column="lastTime" /><!-- 最新修改时间 -->
    </resultMap>
    
    <!-- 获取机构数据 -->
    <select id="getAgency" parameterType="String" resultMap="agencyEntityResultMap">
        <![CDATA[    
        SELECT `id`,`name`,`abbr_cn`,`abbr_en`,`keywords`,`address`,`tel`,`fax`,`introduction`,`remarks`,`logo_url`,`status`,
        `package_count`,`account_count`,`createTime`,`lastTime`
        FROM tbl_Netplatform_Settings_Agencies
        WHERE id = #{id}
        ]]>
        
    </select>
    
    <!-- 查询数据 -->
    <select id="findAgencies" parameterType="Agency" resultMap="agencyEntityResultMap">
        SELECT id,name,abbr_cn,abbr_en,keywords,address,tel,fax,introduction,remarks,logo_url,status,package_count,account_count,createTime,lastTime
        FROM tbl_Netplatform_Settings_Agencies
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != '' ">
                id = #{id} AND
            </if>
            <if test="name != null and name != '' ">
                (name like concat('%',#{name},'%')) AND
            </if>
            <if test="abbr_cn != null and abbr_cn != '' ">
                (abbr_cn like concat('%',#{abbr_cn},'%')) AND
            </if>
            <if test="abbr_en != null and abbr_en != '' ">
                (abbr_en like concat('%',#{abbr_en},'%')) AND
            </if>
            <if test="keywords != null and keywords != '' ">
                (keywords like concat('%',#{keywords},'%')) AND
            </if>
            <if test="address != null and address != '' ">
                (address like concat('%',#{address},'%')) AND
            </if>
            <if test="tel != null and tel != '' ">
                (tel like concat('%',#{tel},'%')) AND
            </if>
            <if test="fax != null and fax != '' ">
                (fax like concat('%',#{fax},'%')) AND
            </if>
            <if test="introduction != null and introduction != '' ">
                (introduction like concat('%',#{introduction},'%')) AND
            </if>
            <if test="remarks != null and remarks != '' ">
                (remarks like concat('%',#{remarks},'%')) AND
            </if>
            <if test="logo_url != null and logo_url != '' ">
                (logo_url like concat('%',#{logo_url},'%')) AND
            </if>
            <if test="status != null">
                status = #{status} AND
            </if>
            <if test="packageCount != null">
                packageCount = #{packageCount} AND
            </if>
            <if test="accountCount != null">
                accountCount = #{accountCount} AND
            </if>
        </trim>
    </select>
    
    <!--  查询用户所属机构集合 -->
    <select id="findAgenciesByUser" parameterType="String"  resultMap="agencyEntityResultMap">
        SELECT id,name,abbr_cn,abbr_en,keywords,address,tel,fax,introduction,remarks,logo_url,status,package_count,account_count,createTime,lastTime
        FROM tbl_Netplatform_Settings_Agencies
        WHERE id IN (SELECT agency_id FROM tbl_Netplatform_Settings_UserAgencies WHERE user_id = #{userId})
    </select>
    
    <!-- 根据英文简称查询机构 -->
    <select id="loadAgencyByAbbrEN" parameterType="String" resultMap="agencyEntityResultMap">
        SELECT id,name,abbr_en,keywords,address,tel,fax,introduction,remarks,logo_url,status,package_count,account_count,createTime,lastTime
        FROM tbl_Netplatform_Settings_Agencies
        WHERE abbr_en = #{abbr_en}
    </select>
    
    <!-- 是否存在EN简称 -->
    <select id="hasAgencyByAbbrEN" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Agencies WHERE abbr_en = #{abbr_en}
    </select>
    
    <!-- 是否存在中文简称 -->
    <select id="hasAgencyByAbbrCN" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Agencies WHERE abbr_cn = #{abbr_cn}
    </select>
    
    <!-- 是否存在机构用户 -->
    <select id="hasAgencyUser" resultType="boolean">
         SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_UserAgencies WHERE agency_id = #{agencyId} AND user_id = #{userId}
    </select>
    
    <!-- 新增机构 -->
    <select id="insertAgency" parameterType="Agency">
        INSERT INTO tbl_Netplatform_Settings_Agencies(id,name,abbr_cn,abbr_en,keywords,address,tel,fax,introduction,remarks,logo_url,status,package_count,account_count)
        VALUES(#{id},#{name},#{abbr_cn},#{abbr_en},#{keywords},#{address},#{tel},#{fax},#{introduction},#{remarks},#{logo_url},#{status},#{packageCount},#{accountCount})
    </select>
    
    <!-- 更新机构 -->
    <update id="updateAgency" parameterType="Agency">
        UPDATE tbl_Netplatform_Settings_Agencies
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="abbr_cn != null and abbr_cn != '' ">
                abbr_cn = #{abbr_cn},
            </if>
            <if test="abbr_en != null and abbr_en != '' ">
                abbr_en = #{abbr_en},
            </if>
            <if test="keywords != null and keywords != '' ">
                keywords = #{keywords},
            </if>
            <if test="address != null and address != '' ">
                address = #{address},
            </if>
            <if test="tel != null and tel != '' ">
                tel = #{tel},
            </if>
            <if test="fax != null and fax != '' ">
                fax = #{fax},
            </if>
            <if test="introduction != null and introduction != '' ">
                introduction = #{introduction},
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks = #{remarks},
            </if>
            <if test="logo_url != null and logo_url != '' ">
                logo_url = #{logo_url},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="packageCount != null">
                package_count = #{packageCount},
            </if>
            <if test="accountCount != null">
                account_count = #{accountCount},
            </if>
        </trim>
        WHERE id = #{id}
    </update>
    
    <!-- 删除机构 -->
    <delete id="deleteAgency" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_Agencies WHERE id = #{id}
        AND NOT EXISTS(SELECT 0 FROM tbl_Netplatform_Settings_UserAgencies WHERE agency_id = #{id})
    </delete>
    
</mapper>