<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 教师答疑主题明细 -->
<mapper namespace="com.examw.netplatform.dao.admin.teachers.AnswerQuestionDetailMapper">
    <!-- 获取答疑明细 -->
    <select id="getDetail" parameterType="String" resultType="AnswerQuestionDetail">
        SELECT * FROM vw_Netplatform_Teachers_DetailView WHERE id = #{id}
    </select>
    
    <!-- 查询数据 -->
    <select id="findDetails" parameterType="AnswerQuestionDetail" resultType="AnswerQuestionDetail">
        SELECT * from vw_Netplatform_Teachers_DetailView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="topicId != null and topicId != '' ">
                topicId = #{topicId} AND
            </if>
            <if test="id != null and id != '' ">
                id = #{id} AND
            </if>
            <if test="content != null and content != '' ">
                (content like concat('%',#{content},'%')) AND
            </if>
            <if test="userId != null and userId != '' ">
                userId = #{userId} AND
            </if>
            <if test="userName != null and userName != '' ">
                (userName like concat('%',#{userName},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 新增答疑明细 -->
    <insert id="insertDetail" parameterType="AnswerQuestionDetail">
        INSERT INTO tbl_Netplatform_Teachers_AnswerQuestionDetails(id,content,user_id,topic_id) VALUES (#{id},#{content},#{userId},#{topicId})
    </insert>
    
    <!-- 更新答疑明细 -->
    <update id="updateDetail" parameterType="AnswerQuestionDetail">
        UPDATE tbl_Netplatform_Teachers_AnswerQuestionDetails
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != '' ">
                content = #{content},
            </if>
            <if test="userId != null and userId != '' ">
                user_id = #{userId},
            </if>
            <if test="topicId != null and topicId != '' ">
                topicId = #{topicId},
            </if>
        </trim>
        WHERE id = #{id}
    </update>
    
    <!-- 删除答疑明细 -->
    <delete id="deleteDetail" parameterType="String">
        DELETE FROM tbl_Netplatform_Teachers_AnswerQuestionDetails WHERE id = #{id}
    </delete>
    
</mapper>