<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--章节 -->
<mapper namespace="com.examw.netplatform.dao.admin.settings.ChapterMapper">
    
    <!-- 获取章节数据 -->
    <select id="getChapter" parameterType="String" resultType="Chapter">
       SELECT * FROM vm_Netplatform_Settings_ChapterView WHERE `id` = #{id}
    </select>
    
    <!-- 查询数据 -->
    <select id="findChapters"  resultType="Chapter">
        {CALL sp_Netplatform_Settings_Chapters_Tree(#{subjectId},#{ignoreId})}
    </select>
    
    <!-- 加载最大的章节排序号 -->
    <select id="loadMaxOrder" parameterType="String" resultType="int">
        SELECT MAX(`orderNo`) FROM tbl_Netplatform_Settings_Chapters WHERE `pid` = #{pid}
    </select>
    
    <!-- 是否有子章节数据 -->
    <select id="hasChildChapters" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Chapters WHERE `pid` = #{id}
    </select>
    
    <!-- 是否存在科目下章节 -->
    <select id="hasChaptersBySubject" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Chapters WHERE `subject_id` = #{subjectId}
    </select>
    
    <!-- 新增章节 -->
    <insert id="insertChapter" parameterType="Chapter">
        INSERT INTO tbl_Netplatform_Settings_Chapters(`id`,`name`,`description`,`status`,`orderNo`,`subject_id`,`pid`)
        VALUES(#{id},#{name},#{description},#{status},#{orderNo},#{subjectId},#{pid})
    </insert>
    
    <!-- 更新章节 -->
    <update id="updateChapter" parameterType="Chapter">
        UPDATE tbl_Netplatform_Settings_Chapters
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                `name` = #{name},
            </if>
            <if test="description != null and description != '' ">
                `description` = #{description},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="orderNo != null">
                `orderNo` = #{orderNo},
            </if>
            <if test="subject_id != null and subject_id != '' ">
                `subject_id` = #{subjectId},
            </if>
            <if test="pid != null and pid != '' ">
                `pid` = #{pid},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
     
    <!-- 删除章节 -->
    <delete id="deleteChapter" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_Chapters where `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM(SELECT 0 FROM tbl_Netplatform_Settings_Chapters WHERE `pid` = #{id}) tmp)
    </delete>
</mapper>