<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 班级类型 -->
<mapper namespace="com.examw.netplatform.dao.admin.settings.ClassTypeMapper">
    
    <!-- 加载班级类型 -->
    <select id="getClassType" parameterType="String" resultType="ClassType">
        SELECT * FROM vm_Netplatform_Settings_ClassTypeView WHERE `id` = #{id} 
    </select>
    
    <!-- 查询数据 -->
    <select id="findClassTypes" parameterType="ClassType" resultType="ClassType">
        SELECT * FROM vm_Netplatform_Settings_ClassTypeView 
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != '' ">
                `id` = #{id} AND
            </if>
            <if test="code != null">
                `code` = #{code} AND
            </if>
            <if test="name != null and name != '' ">
                (`name` like concat('%',#{name},'%')) AND
            </if>
            <if test="agencyId != null and agencyId != '' ">
               `agencyId` = #{agencyId} AND
            </if>
            <if test="agencyName != null and agencyName != '' ">
                (`agencyName` like concat('%',#{agencyName},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 查询机构下的班级类型集合 -->
    <select id="findClassTypesByAgency" parameterType="String" resultType="ClassType">
        SELECT * FROM vm_Netplatform_Settings_ClassTypeView  WHERE IFNULL(`agencyId`,#{agencyId}) = #{agencyId} ORDER BY `code`
    </select>
    
    <!-- 加载最大代码 -->
    <select id="loadMaxOrder" resultType="int">
        SELECT MAX(`code`) FROM tbl_Netplatform_Settings_ClassTypes
    </select>
    
    <!-- 是否存在班级类型代码 -->
    <select id="hasClassTypeCode" parameterType="int" resultType="boolean">
        SELECT COUNT(0) FROM tbl_Netplatform_Settings_ClassTypes WHERE `code` = #{code}
    </select>
    
    <!-- 新增班级类型 -->
    <insert id="insertClassType" parameterType="ClassType">
        INSERT INTO tbl_Netplatform_Settings_ClassTypes(`id`,`code`,`name`,`agency_id`) VALUES(#{id},#{code},#{name},#{agencyId})
    </insert>
    
    <!-- 更新班级类型 -->
    <update id="updateClassType" parameterType="ClassType">
        UPDATE tbl_Netplatform_Settings_ClassTypes
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">
                `code` = #{code},
            </if>
            <if test="name != null and name != '' ">
                `name` = #{name},
            </if>
            <if test="agencyId != null and agencyId != '' ">
                `agency_id` = #{agencyId},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
    
    <!-- 删除班级类型 -->
    <delete id="deleteClassType" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_ClassTypes WHERE `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM tbl_Netplatform_Courses_Classes WHERE `class_type_id` = #{id})
    </delete>
</mapper>