<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 班级-->
<mapper namespace="com.examw.netplatform.dao.admin.courses.ClassMapper">
    
    <!-- 获取班级 -->
    <select id="getClassPlan" parameterType="String" resultType="ClassPlan">
        SELECT  * FROM vw_Netplatform_Courses_ClassView WHERE `id` = #{id}
    </select>
    
    <!-- 查询数据 -->
    <select id="findClasses" parameterType="ClassPlan" resultType="ClassPlan">
        SELECT * FROM vw_Netplatform_Courses_ClassView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != '' ">
               `id` = #{id} AND
            </if>
            <if test="agencyId != null and agencyId != '' ">
                `agencyId` = #{agencyId} AND
            </if>
            <if test="categoryId != null and categoryId != '' ">
                `categoryId` = #{categoryId} AND
            </if>
            <if test="examId != null and examId != '' ">
                `examId` = #{examId} AND
            </if>
            <if test="subjectId != null and subjectId != '' ">
                `subjectId` = #{subjectId} AND
            </if>
             <if test="typeId != null and typeId != '' ">
                `typeId` = #{typeId} AND
            </if>
            <if test="handoutMode != null">
                `handoutMode` = #{handoutMode} AND
            </if>
             <if test="videoMode != null">
                `videoMode` = #{videoMode} AND
            </if>
             <if test="status != null">
                `status` = #{status}
            </if>
            <if test="name != null and name != '' ">
                (`name` like concat('%',#{name},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 查询套餐下班级集合 -->
    <select id="findClassByPackage" parameterType="String" resultType="ClassPlan">
        SELECT * FROM vw_Netplatform_Courses_ClassView
        WHERE `id` in (SELECT `class_id` FROM tbl_Netplatform_Courses_PackageClasses WHERE `package_id` = #{packageId})
    </select>
    
    <!-- 查询教师下班级集合 -->
    <select id="findClassByTeacher" parameterType="String" resultType="ClassPlan">
        SELECT * FROM vw_Netplatform_Courses_ClassView
        WHERE `id` in (SELECT `class_id` FROM tbl_Netplatform_TeacherClasses WHERE `teacher_id` = #{teacherId})
    </select>
    
    <!--  查询订单班级集合 -->
    <select id="findClassByOrder" parameterType="String">
        SELECT * FROM vw_Netplatform_Courses_ClassView
        WHERE `id` in (SELECT `class_id` FROM tbl_Netplatform_Students_OrderClasses WHERE `order_id` = #{orderId})
    </select>
    
    <!-- 加载培训机构下最大排序号 -->
    <select id="loadMaxOrder" parameterType="String" resultType="int">
        SELECT MAX(`orderNo`) FROM tbl_Netplatform_Courses_Classes WHERE `agency_id` = #{agencyId}
    </select>
    
    <!-- 新增班级 -->
    <insert id="insertClass" parameterType="ClassPlan">
        INSERT INTO tbl_Netplatform_Courses_Classes(`id`,`name`,`class_type_id`,`agency_id`,`subject_id`,`description`,`imgUrl`,`videoUrl`,`price`,
        `discountPrice`,`wholesalePrice`,`useYear`,`totalHours`,`handoutMode`,`videoMode`,`startTime`,`endTime`,`status`,`orderNo`)
        VALUES(#{id},#{name},#{typeId},#{agencyId},#{subjectId},#{description},#{imgUrl},#{videoUrl},#{price},#{discountPrice},#{wholesalePrice},
        #{useYear},#{totalHours},#{handoutMode},#{videoMode},#{startTime},#{endTime},#{status},#{orderNo})
    </insert>
    
    <!-- 更新班级 -->
    <update id="updateClass" parameterType="ClassPlan">
        UPDATE tbl_Netplatform_Courses_Classes
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name !='' ">
                `name` = #{name},
            </if>
            <if test="typeId != null and typeId != '' ">
                `class_type_id` = #{typeId},
            </if>
            <if test="agencyId != null and agencyId != '' ">
                `agency_id` = #{agencyId},
            </if>
            <if test="subjectId != null and subjectId != '' ">
                `subject_id` = #{subjectId},
            </if>
            <if test="description != null and description != '' ">
                `description` = #{description},
            </if>
            <if test="imgUrl != null and imgUrl != '' ">
                `imgUrl` = #{imgUrl},
            </if>
            <if test=" videoUrl ! = null and videoUrl != '' ">
                `videoUrl` = #{videoUrl},
            </if>
            <if test="price != null">
                `price` = #{price},
            </if>
            <if test="discountPrice != null">
                `discountPrice` = #{discountPrice},
            </if>
            <if test="wholesalePrice != null">
               `wholesalePrice` = #{wholesalePrice},
            </if>
            <if test="useYear != null">
                `useYear` = #{useYear},
            </if>
            <if test="totalHours != null">
                `totalHours` = #{totalHours},
            </if>
            <if test="handoutMode != null">
                `handoutMode` = #{handoutMode},
            </if>
            <if test="videoMode != null">
                `videoMode` = #{videoMode},
            </if>
            <if test="startTime != null">
                `startTime` = #{startTime},
            </if>
            <if test="endTime != null">
                `endTime` = #{endTime},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="orderNo != null">
                `orderNo` = #{orderNo},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
    
    <!-- 删除班级 -->
    <delete id="deleteClass" parameterType="String">
        DELETE FROM tbl_Netplatform_Courses_Classes WHERE `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM(SELECT 0 FROM tbl_Netplatform_Courses_Lessons WHERE `class_id` = #{id}) tmp)
    </delete>
</mapper>