<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 考试 -->
<mapper namespace="com.examw.netplatform.dao.admin.settings.ExamMapper">
    
    <!--  获取考试 -->
    <select id="getExam" parameterType="String" resultType="Exam">
       SELECT * FROM vm_Netplatform_Settings_ExamView WHERE `id` = #{id}
    </select>
    
    <!-- 查询考试数据 -->
    <select id="findExams" parameterType="Exam" resultType="Exam">
        SELECT * FROM vm_Netplatform_Settings_ExamView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != '' ">
               `id` = #{id} AND
            </if>
            <if test="code != null">
                `code` = #{code} AND
            </if>
            <if test="name != null and name != '' ">
                (`name` like concat('%',#{name},'%')) AND
            </if>
            <if test="abbr != null and abbr != '' ">
                (`abbr` like concat('%',#{abbr},'%')) AND
            </if>
            <if test="status != null">
                `status` = #{status} AND
            </if>
            <if test="categoryId != null and categoryId != '' ">
                `categoryId` = #{categoryId} AND
            </if>
            <if test="categoryName = null and categoryName != '' ">
                (`categoryName` like concat('%',#{categoryName},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 加载分类状态下的考试集合 -->
    <select id="findExamsByCategory" resultType="Exam">
        SELECT * FROM tbl_Netplatform_Settings_Exams
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="categoryId != null and categoryId != '' ">
                `category_id` = #{categoryId} AND
            </if>
            <if test="status != null">
                `status` = #{status} AND
            </if>
        </trim>
        ORDER BY code
    </select>
    
    <!-- 加载最大考试代码值 -->
    <select id="loadMaxCode" resultType="int">
        SELECT MAX(code) FROM tbl_Netplatform_Settings_Exams
    </select>
    
    <!-- 是否存在考试代码 -->
    <select id="hasExamCode" parameterType="int" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Exams WHERE `code` = #{code}
    </select>
    
    <!-- 是否存在考试EN简称 -->
    <select id="hasExamAbbr" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Exams WHERE `abbr` = #{abbr}
    </select>
    
    <!-- 新增考试数据 -->
    <insert id="insertExam" parameterType="Exam">
        insert into tbl_Netplatform_Settings_Exams(`id`,`code`,`name`,`abbr`,`status`,`category_id`)
        values(#{id},#{code},#{name},#{abbr},#{status},#{categoryId})
    </insert>
    
    <!-- 更新考试数据 -->
    <update id="updateExam" parameterType="Exam">
        UPDATE tbl_Netplatform_Settings_Exams
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">
                `code` = #{code},
            </if>
            <if test="name != null and name !='' ">
                `name` = #{name},
            </if>
            <if test="abbr != null and abbr != '' ">
                `abbr` = #{abbr},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="categoryId != null and categoryId != '' ">
                `category_id` = #{categoryId},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
    
    <!--  删除考试数据 -->
    <delete id="deleteExam" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_Exams WHERE `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM tbl_Netplatform_Settings_Subjects WHERE `exam_id` = #{id})
    </delete>
    
    <!-- 是否存在考试地区 -->
    <select id="hasExamArea" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_ExamAreas WHERE `exam_id` = #{examId} AND `area_id` = #{areaId}
    </select>
    
    <!-- 新增考试地区 -->
    <insert id="insertExamArea">
        INSERT INTO tbl_Netplatform_Settings_ExamAreas(`exam_id`,`area_id`) VALUES(#{examId},#{areaId})
    </insert>
    
    <!-- 删除考试地区 -->
    <delete id="deleteExamArea">
        DELETE FROM tbl_Netplatform_Settings_ExamAreas WHERE `exam_id` = #{examId} AND `area_id` = #{areaId}
    </delete>
    
    <!-- 删除考试地区 -->
    <delete id="deleteExamAreas" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_ExamAreas WHERE `exam_id` = #{examId} 
    </delete>
</mapper>