<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 课时资源-->
<mapper namespace="com.examw.netplatform.dao.admin.courses.LessonMapper">
 
    <!-- 获取课时资源 -->
    <select id="getLesson" parameterType="String"  resultType="Lesson">
        SELECT * FROM vw_Netplatform_Courses_LessonView WHERE `id` = #{id}
    </select>
    
    <!-- 查询数据 -->
    <select id="findLessons" parameterType="Lesson"  resultType="Lesson">
        SELECT * FROM vw_Netplatform_Courses_LessonView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="agencyId != null and agencyId != '' ">
                'agencyId' = #{agencyId} AND
            </if>
            <if test="categoryId != null and categoryId != '' ">
                `categoryId` = #{categoryId} AND
            </if>
            <if test="examId != null and examId != '' ">
                `examId` = #{examId} AND
            </if>
            <if test="subjectId != null and subjectId != '' ">
                `subjectId` = #{subjectId} AND
            </if>
            <if test="classId != null and classId != '' ">
                `classId` = #{classId} AND
            </if>
            <if test="id != null and id != '' ">
                `id` = #{id} AND
            </if>
            <if test="videoMode != null">
                `videoMode` = #{videoMode} AND
            </if>  
            <if test="name != null and name != '' ">
                (`name` like concat('%',#{name},'%')) AND
            </if>
            <if test="className != null and className != '' ">
                (`className` like concat('%',#{className},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 查询班级下课时资源集合 -->
    <select id="findLessonsByClass" parameterType="String" resultType="Lesson">
        SELECT * FROM vw_Netplatform_Courses_LessonView WHERE `classId` = #{classId} ORDER BY `orderNo`
    </select>
    
    <!-- 查询培训机构下科目班级(有班级的科目)数据集合 -->
    <select id="findSubjectHasClassViews" parameterType="String" resultType="SubjectHasClassView">
        SELECT * FROM vm_Netplatform_Courses_SubjectHasClassView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="agencyId != null and agencyId != '' ">
                `agencyId` = #{agencyId}
            </if>
        </trim>
    </select>
    
    <!-- 加载班级下的最大排序号 -->
    <select id="loadMaxOrder" parameterType="String" resultType="int">
        SELECT MAX(orderNo) FROM tbl_Netplatform_Courses_Lessons WHERE class_id = #{classId}
    </select>
    
    <!-- 新增课时资源 -->
    <insert id="insertLesson" parameterType="Lesson">
        INSERT INTO tbl_Netplatform_Courses_Lessons(`id`,`name`,`time`,`description`,`class_id`,`videoMode`,`videoUrl`,`highVideoUrl`,`superVideoUrl`,`handoutMode`,`handoutContent`,`handoutAttachUrl`,`orderNo`)
        VALUES(#{id},#{name},#{time},#{description},#{classId},#{videoMode},#{videoUrl},#{highVideoUrl},#{superVideoUrl},#{handoutMode},#{handoutContent},#{handoutAttachUrl},#{orderNo})
    </insert>
    
    <!-- 更新课时资源 -->
    <update id="updateLesson" parameterType="Lesson">
        UPDATE tbl_Netplatform_Courses_Lessons
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                `name` = #{name},
            </if>
            <if test="time != null">
                `time` = #{time},
            </if>
            <if test="description != null and description != '' ">
                `description` = #{description},
            </if>
            <if test="classId != null and classId != '' ">
                `class_id` = #{classId},
            </if>
            <if test="videoMode != null">
                `videoMode` = #{videoMode},
            </if>
            <if test="videoUrl != null and videoUrl != '' ">
                `videoUrl` = #{videoUrl},
            </if>
            <if test="highVideoUrl != null and highVideoUrl != '' ">
                `highVideoUrl` = #{highVideoUrl},
            </if>
            <if test="superVideoUrl != null and superVideoUrl != '' ">
                `superVideoUrl` = #{superVideoUrl}
            </if>
            <if test="handoutMode != null">
                `handoutMode` = #{handoutMode},
            </if>
            <if test="handoutContent != null and handoutContent != '' ">
                `handoutContent` = #{handoutContent},
            </if>
            <if test="handoutAttachUrl != null and handoutAttachUrl != '' ">
                `handoutAttachUrl` = #{handoutAttachUrl},
            </if>
            <if test="orderNo != null">
                `orderNo` = #{orderNo},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
    
    <!-- 删除课时资源 -->
    <delete id="deleteLesson" parameterType="String">
        DELETE FROM tbl_Netplatform_Courses_Lessons WHERE `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM(SELECT 0 FROM tbl_Netplatform_Courses_LessonChapters WHERE `lesson_id` = #{id}) tmp)
    </delete>
</mapper>