<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 登录日志 -->
<mapper namespace="com.examw.netplatform.dao.admin.security.LoginLogMapper">
    
    <!-- 查询数据 -->
    <select id="findLoginLogs" parameterType="LoginLog" resultType="LoginLog">
        SELECT * FROM vw_Netplatform_Security_LoginLogView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="agencyId != null and agencyId != '' ">
                `agencyId` = #{agencyId} AND
            </if>
            <if test="agencyName != null and agencyName !='' ">
                (`agencyName` like concat(#{agencyName},'%')) AND
            </if>
            <if test="userAccount != null and userAccount != '' ">
                ((`userAccount` like CONCAT('%',#{userAccount},'%')) or (`userName` like CONCAT('%',#{userAccount},'%'))) AND
            </if>
            <if test="userName != null and userName != '' ">
                ((`userAccount` like CONCAT('%',#{userName},'%')) or (`userName` like CONCAT('%',#{userName},'%'))) AND
            </if>
            <if test="ip != null and ip != '' ">
                (`ip` like CONCAT('%',#{ip},'%')) AND
            </if>
            <if test="browser != null and browser != '' ">
                (`browser` like CONCAT('%',#{browser},'%')) AND
            </if>
            <if test="createTime != null and createTime != '' ">
                (`createTime` like CONCAT('%',#{createTime},'%'))
            </if>
        </trim>
    </select>
    
    <!-- 加载日志 -->
    <select id="getLoginLog" parameterType="String" resultType="LoginLog">
        SELECT * FROM vw_Netplatform_Security_LoginLogView WHERE id = #{id}
    </select>
    
    <!-- 插入日志 -->
    <insert id="insertLoginLog" parameterType="LoginLog" keyProperty="id">
        INSERT INTO tbl_Netplatform_Security_LoginLog(id,user_id,ip,browser)
        VALUES(#{id},#{userId},#{ip},#{browser})
    </insert>
    
    <!-- 删除日志 -->
    <delete id="deleteLoginLog">
        DELETE FROM tbl_Netplatform_Security_LoginLog WHERE `id`  in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
</mapper>