<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 菜单权限 -->
<mapper namespace="com.examw.netplatform.dao.admin.security.MenuRightMapper">
    <!-- 获取菜单权限数据 -->
    <select id="getMenuRight" parameterType="String" resultType="MenuRight">
       SELECT * FROM vm_Netplatform_Security_MenuRightView WHERE `id` = #{menuRightId}
    </select>
    
    <!-- 加载菜单权限 -->
    <select id="loadMenuRight" resultType="MenuRight">
       SELECT * FROM vm_Netplatform_Security_MenuRightView WHERE `menuId` = #{menuId} AND `rightId` = #{rightId}
    </select>
    
    <!-- 查询数据 -->
    <select id="findMenuRights" parameterType="MenuRight" resultType="MenuRight">
        SELECT * FROM vm_Netplatform_Security_MenuRightView
        <trim prefix="WHERE" suffixOverrides="AND">
           <if test="menuId != null and menuId != '' ">
               `menuId` = #{menuId} AND
           </if>
           <if test="menuName != null and menuName != '' ">
               (`menuName` like CONCAT('%',#{menuName},'%')) AND
           </if>
            <if test="rightId != null and rightId != '' ">
                `rightId` = #{rightId} AND
            </if>
            <if test="rightName != null and rightName !='' ">
                (`rightName` like CONCAT('%',#{rightName},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 加载全部菜单及其权限集合 -->
    <select id="findMenuPermissions" parameterType="MenuRight" resultType="MenuPermission">
        SELECT * from vw_Netplatform_Security_MenuPermissionTreeView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="menuId != null and menuId != '' ">
                menuId = #{menuId} AND
            </if>
            <if test="rightId != null and rightId != '' ">
                rightId = #{rightId} AND
            </if>
        </trim>
    </select>
    
    <!-- 查询角色下的菜单权限集合 -->
    <select id="findMenuRightsByRole" parameterType="String" resultType="MenuRight">
        SELECT * FROM vm_Netplatform_Security_MenuRightView
        WHERE `id` IN (SELECT DISTINCT `menu_right_id` FROM tbl_Netplatform_Security_RoleRight WHERE `role_id` = #{roleId})
    </select>
    
    <!-- 插入菜单权限 -->
    <insert id="insertMenuRight" parameterType="MenuRight">
        INSERT INTO tbl_Netplatform_Security_MenuRights(id,menu_id,right_id,code)
        VALUES(#{id},#{menuId},#{rightId},#{code})
    </insert>
    
    <!-- 更新菜单权限数据 -->
    <update id="updateMenuRight" parameterType="MenuRight">
        UPDATE  tbl_Netplatform_Security_MenuRights a
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuId != null and menuId != '' ">
                a.menu_id = #{menuId},
            </if>
            <if test="rightId != null and rightId != '' ">
                a.right_id = #{rightId},
            </if>
            <if test="code != null and code != '' ">
                a.code = #{code}
            </if>
        </trim>
        WHERE a.id = #{id}
    </update>
    
    <!-- 删除菜单权限数据 -->
    <delete id="deleteMenuRight" parameterType="String">
        DELETE FROM tbl_Netplatform_Security_MenuRights WHERE `id` = #{id}
        AND NOT EXISTS(SELECT 0 FROM(SELECT 0 FROM tbl_Netplatform_Security_RoleRight WHERE `menu_right_id` = #{id}) tmp)
    </delete>
</mapper>