<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 科目 -->
<mapper namespace="com.examw.netplatform.dao.admin.settings.SubjectMapper">
    
    <!-- 获取数据 -->
    <select id="getSubject" parameterType="String" resultType="Subject">
       SELECT * FROM vm_Netplatform_Settings_SubjectView WHERE `id` = #{id}
    </select>
    
    <!-- 查询科目数据 -->
    <select id="findSubjects" parameterType="Subject"  resultType="Subject">
        SELECT * FROM vm_Netplatform_Settings_SubjectView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != '' ">
                `id` = #{id} AND
            </if>
            <if test="code != null">
                `code` = #{code} AND
            </if>
            <if test="name != null and name != '' ">
                (`name` like concat('%',#{name},'%')) AND
            </if>
            <if test="status != null">
                (`status` = #{status}) AND
            </if>
            <if test="examId != null and examId != '' ">
                `examId` = #{examId} AND
            </if>
            <if test="examName != null and examName != '' ">
                (`examName` like concat('%',#{examName},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 查询考试科目数据集合 -->
    <select id="findSubjectsByExam" parameterType="String" resultType="Subject">
        SELECT * FROM vm_Netplatform_Settings_SubjectView WHERE `examId` = #{examId}
    </select>
    
    <!-- 加载最大代码值 -->
    <select id="loadMaxCode" resultType="int">
        SELECT MAX(code) FROM tbl_Netplatform_Settings_Subjects
    </select>
    
    <!-- 是否存在科目代码 -->
    <select id="hasSubjectCode" parameterType="int" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Subjects WHERE `code` = #{code}
    </select>
    
    <!-- 是否存在考试科目数据 -->
    <select id="hasSubjectByExam" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_Subjects WHERE `exam_id` = #{code}
    </select>
    
    <!-- 新增科目 -->
    <insert id="insertSubject" parameterType="Subject">
        INSERT INTO tbl_Netplatform_Settings_Subjects(`id`,`code`,`name`,`status`,`exam_id`)
        VALUES(#{id},#{code},#{name},#{status},#{examId})
    </insert>
    
    <!--  删除科目 -->
    <delete id="deleteSubject" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_Subjects WHERE `id` = #{id}
    </delete>
    
    <!-- 是否存在科目地区 -->
    <select id="hasSubjectArea" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_SubjectAreas WHERE `subject_id` = #{subjectId} AND `area_id` = #{areaId}
    </select>
    
    <!-- 新增科目地区 -->
    <insert id="insertSubjectArea">
        INSERT INTO tbl_Netplatform_Settings_SubjectAreas(`subject_id`,`area_id`) VALUES(#{subjectId},#{areaId})
    </insert>
    
    <!-- 删除科目地区 -->
    <delete id="deleteSubjectAreas" parameterType="String">
        DELETE FROM tbl_Netplatform_Settings_SubjectAreas WHERE `subject_id` = #{subjectId}
    </delete>
</mapper>