<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户 -->
<mapper namespace="com.examw.netplatform.dao.admin.security.UserMapper">
    <!-- 获取用户 -->
    <select id="getUser" parameterType="String" resultType="User">
        SELECT * FROM vm_Netplatform_Security_UsersView WHERE `id` = #{id}
    </select>
    
    <!-- 查询数据 -->
    <select id="findUsers" parameterType="User" resultType="User">
        SELECT * FROM vm_Netplatform_Security_UsersView
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="agencyId != null and agencyId != '' ">
                `agencyId` = #{agencyId} AND
            </if>
            <if test="identity != null">
                `identity` = #{identity} AND
            </if>
             <if test="type != null">
                `type` = #{type} AND
            </if>
            <if test="status != null">
                `status` = #{status} AND
            </if>
             <if test="gender != null">
                `gender` = #{gender} AND
            </if>
            <if test="agencyName != null and agencyName !='' ">
                (`agencyName` like CONCAT('%',#{agencyName},'%')) AND
            </if>
            <if test="name != null and name != '' ">
                (`name` like CONCAT('%',#{name},'%')) AND
            </if>
            <if test="account != null and account !='' ">
                (`account` like CONCAT('%',#{account},'%')) AND
            </if>
            <if test="nickName != null and nickName != '' ">
                (`nickName` like CONCAT('%',#{nickName},'%')) AND
            </if>
            <if test="phone != null and phone != '' ">
                (`phone` like CONCAT('%',#{phone},'%')) AND
            </if>
            <if test="qq != null and qq != '' ">
                (`qq` like CONCAT('%',#{qq},'%')) AND
            </if>
            <if test="email != null and email != '' ">
                (`email` like CONCAT('%',#{email},'%')) AND
            </if>
        </trim>
    </select>
    
    <!-- 加载订单下学员集合 -->
    <select id="findUsersByOrder" parameterType="String" resultType="User">
        SELECT * FROM vm_Netplatform_Security_UsersView
        WHERE `id` in (select `student_id` from tbl_Netplatform_Students_OrderStudents where `order_id` = #{orderId})
    </select>
    
    <!-- 是否存在账号用户 -->
    <select id="hasUserByAccount" parameterType="String" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Security_Users WHERE `account` = #{account}
    </select>
    
    <!-- 根据机构ID和用户账号查找用户 -->
    <select id="findByAccount" resultType="User">
        SELECT * FROM vm_Netplatform_Security_UsersView WHERE `agencyId` = #{agencyId} AND `account` = #{account}
    </select>
    
    <!-- 机构账号是否存在 -->
    <select id="hasAgencyAccount" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_UserAgencies a
        INNER JOIN tbl_Netplatform_Security_Users b ON b.`id` = a.`user_id`
        WHERE a.`agency_id` = #{agencyId} AND b.`account` = #{account}
    </select>
    
    <!-- 是否存在用户机构 -->
    <select id="hasUserAgency" resultType="boolean">
        SELECT COUNT(0) > 0 FROM tbl_Netplatform_Settings_UserAgencies WHERE `user_id` = #{userId} AND `agency_id` = #{agencyId}
    </select>
    
    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="User">
        INSERT INTO tbl_Netplatform_Security_Users(`id`,`name`,`account`,`password`,`nickName`,`imgUrl`,`gender`,`type`,`status`,`phone`,`qq`,`email`)
        VALUES(#{id},#{name},#{account},#{password},#{nickName},#{imgUrl},#{gender},#{type},#{status},#{phone},#{qq},#{email})
    </insert>
    
    <!-- 更新用户 -->
    <update id="updateUser" parameterType="User">
        UPDATE tbl_Netplatform_Security_Users
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name !='' ">
                `name` = #{name},
            </if>
            <if test="account != null and account !='' ">
                `account` = #{account},
            </if>
            <if test="password != null and password != '' ">
                `password` = #{password},
            </if>
            <if test="nickName != null and nickName != '' ">
                `nickName` = #{nickName},
            </if>
            <if test="imgUrl != null and imgUrl != '' ">
                `imgUrl` = #{imgUrl},
            </if>
            <if test="gender != null ">
                `gender` = #{gender},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="status != null ">
                `status` = #{status},
            </if>
            <if test="phone != null and phone != '' ">
                `phone` = #{phone},
            </if>
            <if test="qq != null and qq != '' ">
                `qq` = #{qq},
            </if>
            <if test="email != null and email != '' ">
                `email` = #{email},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>
    
    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="String">
        UPDATE tbl_Netplatform_Security_Users SET `status` = -1 WHERE `id` = #{id}
    </delete>
    
    <!-- 插入用户机构 -->
    <insert id="insertUserAgency">
        INSERT INTO tbl_Netplatform_Settings_UserAgencies(`user_id`,`agency_id`,`identity`) VALUES(#{userId},#{agencyId},#{identity})
    </insert>
    
    <!-- 更新用户机构身份 -->
    <update id="updateUserAgencyIdentity">
        UPDATE tbl_Netplatform_Settings_UserAgencies SET `identity` = #{identity} WHERE `user_id` = #{userId} AND `agency_id` = #{agencyId}
    </update>
    
    <!-- 删除用户机构 -->
    <delete id="deleteUserAgency">
        DELETE FROM tbl_Netplatform_Settings_UserAgencies WHERE `user_id` = #{userId} AND `agency_id` = #{agencyId}
    </delete>
    
    <!-- 是否存在用户角色 -->
    <select id="hasUserRole" resultType="boolean">
        SELECT COUNT(0) FROM  tbl_Netplatform_Security_UserRoles WHERE `user_id` = #{userId} AND `role_id` = #{roleId}
    </select>
    
    <!-- 插入用户角色 -->
    <insert id="insertUserRole">
        INSERT INTO tbl_Netplatform_Security_UserRoles(`user_id`,`role_id`) VALUES(#{userId},#{roleId})
    </insert>
    
    <!-- 删除用户角色 -->
    <delete id="deleteUserRole">
        DELETE FROM tbl_Netplatform_Security_UserRoles WHERE `user_id` = #{userId} AND `role_id` = #{roleId}
    </delete>
    
    <!-- 删除用户全部角色 -->
    <delete id="deleteUserAllRoles" parameterType="String">
        DELETE FROM tbl_Netplatform_Security_UserRoles WHERE `user_id` = #{userId}
    </delete>
</mapper>