<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 类型别名 -->
    <typeAliases>
        <!-- 1.附件 -->
        <typeAlias alias="Attachment" type="com.examw.netplatform.domain.Attachment"/>
        <!-- 2.菜单实体 -->
        <typeAlias alias="MenuEntity" type="com.examw.netplatform.domain.admin.security.MenuEntity"/>
        <!-- 3.登录日志实体 -->
        <typeAlias alias="LoginLog" type="com.examw.netplatform.domain.admin.security.LoginLog"/>
        <!-- 5.权限实体 -->
        <typeAlias alias="Right" type="com.examw.netplatform.domain.admin.security.Right"/>
        <!-- 6.菜单权限 -->
        <typeAlias alias="MenuRight" type="com.examw.netplatform.domain.admin.security.MenuRight"/>
        <!-- 菜单及其权限 -->
        <typeAlias alias="MenuPermission" type="com.examw.netplatform.domain.admin.security.MenuPermission"/>
        <!-- 7.角色 -->
        <typeAlias alias="Role" type="com.examw.netplatform.domain.admin.security.Role"/>
        <!-- 8.用户 -->
        <typeAlias alias="User" type="com.examw.netplatform.domain.admin.security.User"/>
        
        <!-- 9.考试分类 -->
        <typeAlias alias="Category" type="com.examw.netplatform.domain.admin.settings.Category"/>
        <!-- 10.地区 -->
        <typeAlias alias="Area" type="com.examw.netplatform.domain.admin.settings.Area"/>
        <!-- 11.考试 -->
        <typeAlias alias="Exam" type="com.examw.netplatform.domain.admin.settings.Exam"/>
        <!-- 考试科目视图 -->
        <typeAlias alias="ExamSubjectView" type="com.examw.netplatform.domain.admin.settings.ExamSubjectView"/>
        <!-- 12.科目 -->
        <typeAlias alias="Subject" type="com.examw.netplatform.domain.admin.settings.Subject"/>
        <!-- 13.章节 -->
        <typeAlias alias="Chapter" type="com.examw.netplatform.domain.admin.settings.Chapter"/>
        <!-- 14.班级类型 -->
        <typeAlias alias="ClassType" type="com.examw.netplatform.domain.admin.settings.ClassType"/>
        <!-- 15.培训机构 -->
        <typeAlias alias="Agency" type="com.examw.netplatform.domain.admin.settings.Agency"/>
        <!-- 16.班级 -->
        <typeAlias alias="ClassPlan" type="com.examw.netplatform.domain.admin.courses.ClassPlan"/>
        <!--  -->
        <typeAlias alias="CategoryHasExamView" type="com.examw.netplatform.domain.admin.courses.CategoryHasExamView"/>
        <!-- 17.套餐 -->
        <typeAlias alias="Package" type="com.examw.netplatform.domain.admin.courses.Package"/>
        <!-- 18.课时资源 -->
        <typeAlias alias="Lesson" type="com.examw.netplatform.domain.admin.courses.Lesson"/>
        <!-- 科目班级(有班级的科目) -->
        <typeAlias alias="SubjectHasClassView" type="com.examw.netplatform.domain.admin.courses.SubjectHasClassView"/>
        <!-- 主讲教师 -->
        <typeAlias alias="Teacher" type="com.examw.netplatform.domain.admin.teachers.Teacher"/>
        <!-- 19.学习进度 -->
        <typeAlias alias="Learning" type="com.examw.netplatform.domain.admin.students.Learning"/>
        <!-- 20.订单 -->
        <typeAlias alias="Order" type="com.examw.netplatform.domain.admin.students.Order"/>
        <!-- 用户订单套餐/班级视图 -->
        <typeAlias alias="UserOrdersView" type="com.examw.netplatform.domain.admin.students.UserOrdersView"/>
        <!-- 班级/课程资源 -->
        <typeAlias alias="ClassLessonView" type="com.examw.netplatform.domain.admin.teachers.ClassLessonView"/>
        <!-- 21.答疑主题 -->
        <typeAlias alias="AnswerQuestionTopic" type="com.examw.netplatform.domain.admin.teachers.AnswerQuestionTopic"/>
    	<!-- 22.答疑明细 -->
    	<typeAlias alias="AnswerQuestionDetail" type="com.examw.netplatform.domain.admin.teachers.AnswerQuestionDetail"/>
    </typeAliases>
    <!-- 拦截器 -->
    <plugins>
        <!-- 第三方分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 数据库类型 -->
            <property name="dialect" value="mysql"/>
            <!--  该参数默认为false-->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样 -->
            <property name="offsetAsPageNum" value="false"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="false"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- (相当于没有执行分页查询，但是返回结果仍然是Page类型) -->
            <property name="pageSizeZero" value="true"/>
            <!--  3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="false"/>
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
            <!-- 不理解该含义的前提下，不要随便复制该配置 -->
            <!-- <property name="params" value="pageNum=start;pageSize=limit;"/> -->
        </plugin>
    </plugins>
    <!-- 映射文件 -->
    <mappers>
        <!-- 1.附件映射文件 -->
        <mapper resource="/mappers/AttachmentMapper.xml"/>
        <!-- 2.登录日志映射文件 -->
        <mapper resource="/mappers/LoginLogMapper.xml"/>
        <!-- 3.菜单映射文件 -->
        <mapper resource="/mappers/MenuMapper.xml"/>
        <!-- 4.权限映射文件 -->
        <mapper resource="/mappers/RightMapper.xml"/>
        <!-- 5.菜单权限映射文件 -->
        <mapper resource="/mappers/MenuRightMapper.xml"/>
        <!-- 6.角色映射文件 -->
        <mapper resource="/mappers/RoleMapper.xml"/>
        <!-- 7.用户映射文件 -->
        <mapper resource="/mappers/UserMapper.xml"/>
        <!-- 8.考试分类映射文件 -->
        <mapper resource="/mappers/CategoryMapper.xml"/>
        <!-- 9.地区映射文件 -->
        <mapper resource="/mappers/AreaMapper.xml"/>
        <!-- 10.考试映射文件 -->
        <mapper resource="/mappers/ExamMapper.xml"/>
        <!-- 11.科目映射文件 -->
        <mapper resource="/mappers/SubjectMapper.xml"/>
        <!-- 12.章节映射文件 -->
        <mapper resource="/mappers/ChapterMapper.xml"/>
        <!-- 13.培训机构映射文件 -->
        <mapper resource="/mappers/AgencyMapper.xml"/>
        <!-- 14.班级类型映射文件 -->
        <mapper resource="/mappers/ClassTypeMapper.xml"/>
        <!-- 15.班级映射文件 -->
        <mapper resource="/mappers/ClassMapper.xml"/>
        <!-- 16.课时资源映射文件 -->
        <mapper resource="/mappers/LessonMapper.xml"/>
        <!-- 17.套餐映射文件 -->
        <mapper resource="/mappers/PackageMapper.xml"/>
        <!-- 主讲教师映射文件 -->
        <mapper resource="/mappers/TeacherMapper.xml"/>
        <!-- 18.订单映射文件 -->
        <mapper resource="/mappers/OrderMapper.xml"/>
        <!-- 19.学习进度映射文件 -->
        <mapper resource="/mappers/LearningMapper.xml"/>
        <!-- 20.答疑主题映射文件 -->
        <mapper resource="/mappers/AnswerQuestionMapper.xml"/>
    </mappers>
</configuration>