<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 附件上传服务 -->
	<bean id="fileUploadService" class="com.examw.netplatform.service.impl.FileUploadServiceImpl">
	    <!-- 下载预览临时存储目录 -->
		<property name="tempStoragePath" value="${uploadFolder}" />
		<!-- 附件数据接口 -->
		<property name="attachmentDao" ref="attachmentDao" />
		<!-- 附件存储接口 -->
		<property name="attachmentStorageDao" ref="attachmentStorageDao" />
	</bean>
	<!-- 系统管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-security.xml"/>
	<!-- 系统管理 服务接口实现 end -->
	
	<!-- 基础设置 服务接口实现 begin -->
	<import resource="spring-netplatform-service-settings.xml"/>
	<!-- 基础设置 服务接口实现 end -->
	
	<!-- 课程管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-courses.xml"/>
	<!-- 课程管理 服务接口实现 end -->
	
	<!-- 试卷管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-teachers.xml"/>
	<!-- 试卷管理 服务接口实现 end -->
	
	<!-- 学员管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-students.xml"/>
	<!-- 学员管理 服务接口实现 end -->
	
	<!-- 2015.01.21 -->
	<!-- 前台 服务接口实现 begin -->
	<import resource="spring-netplatform-service-front.xml"/>
	<!-- 前台 服务接口实现 end -->
</beans>
