<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- service -->
	<!-- 教师管理 服务接口实现 begin -->
	
	<!-- 主讲教师服务接口 -->
	<bean id="teacherService" class="com.examw.netplatform.service.admin.teachers.impl.TeacherServiceImpl">
	    <!-- 主讲教师数据接口 -->
	    <property name="teacherDao" ref="teacherMapper" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 班级数据接口 -->
	    <property name="classDao" ref="classMapper" />
	</bean>
	
	<!-- 教师答疑主题服务接口 -->
	<bean id="answerQuestionTopicService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionTopicServiceImpl">
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicMapper" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userMapper" />
	    <!-- 课时资源数据接口 -->
	    <property name="lessonDao" ref="lessonMapper" />
	    <!-- 答疑值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${AQ_STATUS_NONE}" />
	            <entry key="1" value="${AQ_STATUS_END}" />
	        </map>
	    </property>
	</bean>
	
	<!-- 教师答疑明细服务接口 -->
	<bean id="answerQuestionDetailService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionDetailServiceImpl">
	    <!-- 教师答疑明细数据接口 -->
	    <property name="answerQuestionDetailDao" ref="answerQuestionDetailMapper" />
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicMapper" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userMapper" />
	</bean>
	
</beans>