<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 学员数据接口实现 begin -->
	<!-- 订单数据接口 -->
	<!-- <bean id="studentOrderDao"  class="com.examw.netplatform.dao.admin.students.impl.StudentOrderDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean> -->
	
	<!-- 学习进度 -->
	<!-- <bean id="learningDao"  class="com.examw.netplatform.dao.admin.students.impl.LearningDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean> -->
	<!-- 学员数据接口实现 end -->
</beans>