<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 教师管理 服务接口实现 begin -->
	<!-- 教师服务接口 -->
	<bean id="teacherService"  class="com.examw.netplatform.service.admin.teachers.impl.TeacherServiceImpl" parent="agencyUserService">
	    <!-- 班级服务接口 -->
	    <property name="classPlanService" ref="classPlanService" />
	</bean>
	<!-- 教师答疑主题服务接口 -->
	<bean id="answerQuestionTopicService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionTopicServiceImpl">
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicDao" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyDao" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userDao" />
	    <!-- 课时资源数据接口 -->
	    <property name="lessonDao" ref="lessonDao" />
	    <!-- 答疑值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="未完结" />
	            <entry key="1" value="已完结" />
	        </map>
	    </property>
	</bean>
	<!-- 教师答疑明细服务接口 -->
	<bean id="answerQuestionDetailService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionDetailServiceImpl">
	    <!-- 教师答疑明细数据接口 -->
	    <property name="answerQuestionDetailDao" ref="answerQuestionDetailDao" />
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicDao" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userDao" />
	</bean>
	<!-- 随堂练习服务接口 -->
	<bean id="practiceService" class="com.examw.netplatform.service.admin.teachers.impl.PracticeServiceImpl">
	    <!-- 随堂练习数据接口 -->
	    <property name="practiceDao" ref="practiceDao" />
	    <!-- 课时资源数据接口 -->
	    <property name="lessonDao" ref="lessonDao" />
	    <!-- 状态值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="未发布" />
	            <entry key="1" value="已发布" />
	        </map>
	    </property>
	</bean>
	<!-- 随堂练习结构服务接口 -->
	<bean id="structureService" class="com.examw.netplatform.service.admin.teachers.impl.StructureServiceImpl">
	    <!-- 随堂练习结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 随堂练习数据接口 -->
	    <property name="practiceDao" ref="practiceDao" />
	    <!-- 试题服务接口 -->
	    <property name="itemService" ref="itemService" />
	</bean>
	<!-- 随堂练习试题服务接口 -->
	<bean id="itemService" class="com.examw.netplatform.service.admin.teachers.impl.ItemServiceImpl">
	    <!-- 试题数据接口 -->
	    <property name="itemDao" ref="itemDao" />
	    <!-- 随堂练习结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 判断题答案值名称 -->
	    <property name="judgeAnswerMap">
	        <map>
	            <entry key="0" value="错误" />
	            <entry key="1" value="正确" />
	        </map>
	    </property>
	    <!-- 试题题型解析集合 -->
	    <property name="itemParsers">
	        <map>
	            <entry key="1"><!-- 单选题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="单选" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                </bean>
	            </entry>
	            <entry key="2"><!-- 多选题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="多选" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                </bean>
	            </entry>
	            <entry key="3"><!-- 不定项选题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="不定项" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                </bean>
	            </entry>
	            <entry key="4"><!-- 判断题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="判断题" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                </bean>
	            </entry>
	            <entry key="5"><!-- 问答题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="问答题" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                </bean>
	            </entry>
	            <entry key="6"><!-- 共享题干题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultShareTitleItemParser">
	                    <!-- 题型名称 -->
	                    <constructor-arg value="共享题干题" />
	                    <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                    <!-- 试题服务接口 -->
	                    <property name="itemService" ref="itemService" />
	                </bean>
	            </entry>
	            <entry key="7"><!-- 共享答案题 -->
	                <bean class="com.examw.netplatform.service.admin.teachers.impl.DefaultShareAnswerItemParser">
	                     <!-- 题型名称 -->
	                    <constructor-arg value="共享答案题" />
	                     <!-- 试题数据接口 -->
	                    <property name="itemDao" ref="itemDao" />
	                    <!-- 试题服务接口 -->
	                    <property name="itemService" ref="itemService" />
	                </bean>
	            </entry>
	        </map>
	    </property>
	</bean>
</beans>