<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 教师管理 服务接口实现 begin -->
	<!-- 教师服务接口 -->
	<bean id="teacherService"  class="com.examw.netplatform.service.admin.teachers.impl.TeacherServiceImpl">
		<!--  机构用户数据接口 -->
	    <property name="agencyUserDao" ref="agencyUserDao" />
	    <!-- 机构服务接口 -->
	    <property name="agencyService" ref="agencyService" />
	    <!-- 用户服务接口 -->
	    <property name="userService" ref="userService" />
	    <!-- 班级服务接口 -->
	    <property name="classPlanService" ref="classPlanService" />
	    <!-- 机构用户身份名称集合 -->
	    <property name="identityNameMap">
	        <map>
	            <entry key="1" value="${IDENTITY_ADMIN}" /><!-- 机构管理员 -->
	            <entry key="2" value="${IDENTITY_TEACHER}" /><!-- 机构教师 -->
	            <entry key="3" value="${IDENTITY_STUDENT}" /><!-- 机构学员 -->
	            <entry key="4" value="${IDENTITY_CARDSTUDENT}" /><!-- 学习卡学员 -->
	        </map>
	    </property>
	</bean>
	<!-- 教师答疑主题服务接口 -->
	<bean id="answerQuestionTopicService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionTopicServiceImpl">
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicDao" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyDao" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userDao" />
	    <!-- 课时资源数据接口 -->
	    <property name="lessonDao" ref="lessonDao" />
	    <!-- 答疑值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="未完结" />
	            <entry key="1" value="已完结" />
	        </map>
	    </property>
	</bean>
	<!-- 教师答疑明细服务接口 -->
	<bean id="answerQuestionDetailService" class="com.examw.netplatform.service.admin.teachers.impl.AnswerQuestionDetailServiceImpl">
	    <!-- 教师答疑明细数据接口 -->
	    <property name="answerQuestionDetailDao" ref="answerQuestionDetailDao" />
	    <!-- 教师答疑主题数据接口 -->
	    <property name="answerQuestionTopicDao" ref="answerQuestionTopicDao" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userDao" />
	</bean>
</beans>