<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 课程管理 服务接口实现 begin -->
	<!-- 开班计划服务接口 -->
	<bean id="classService" class="com.examw.netplatform.service.admin.courses.impl.ClassServiceImpl">
	    <!-- 开班计划数据接口 -->
	    <property name="classPlanDao" ref="classMapper" />
	    <!-- 班级类型数据接口 -->
	    <property name="classTypeDao" ref="classTypeMapper" />
	    <!-- 培训机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 考试科目数据接口 -->
	    <property name="subjectDao" ref="subjectMapper" />
	    <!-- 地区数据接口 -->
	    <property name="areaDao" ref="areaMapper" />
	    <!-- 讲义模式值名称集合 -->
	    <property name="handoutModeMap">
	        <map>
	            <entry key="0" value="${HANDOUT_MODE_NONE}"/><!-- 无 -->
	            <entry key="1" value="${HANDOUT_MODE_DOWNLOAD}" /><!-- 下载 -->
	            <entry key="2" value="${HANDOUT_MODE_ONLINE}" /><!-- 在线 -->
	        </map>
	    </property>
	    <!-- 视频模式值名称集合 -->
	    <property name="videoModeMap">
	        <map>
	            <entry key="0" value="${VIDEO_MODE_FREE}" /><!-- 免费 -->
	            <entry key="1" value="${VIDEO_MODE_CHARGE}" /><!-- 收费 -->
	        </map>
	    </property>
	    <!-- 状态值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	        </map>
	    </property>
	</bean>
	<!-- 课时资源服务接口 -->
	<bean id="lessonService" class="com.examw.netplatform.service.admin.courses.impl.LessonServiceImpl">
		<!-- 课时资源数据接口 -->
		<property name="lessonDao" ref="lessonMapper" />
		<!-- 开班计划数据接口 -->
		<property name="classPlanDao" ref="classTypeMapper" />
		<!-- 章节数据接口 -->
		<property name="chapterDao" ref="chapterMapper" />
		<!-- 讲义模式值名称集合 -->
		<property name="handoutModeMap">
		    <map>
		        <entry key="0" value="${HANDOUT_MODE_NONE}"/><!-- 无 -->
	            <entry key="1" value="${HANDOUT_MODE_DOWNLOAD}" /><!-- 下载 -->
	            <entry key="2" value="${HANDOUT_MODE_ONLINE}" /><!-- 在线 -->
		    </map>
		</property>
		<!-- 视频模式 -->
		<property name="videoModeMap">
			<map>
				<entry key="0" value="${VIDEO_MODE_FREE}" /><!-- 免费 -->
	            <entry key="1" value="${VIDEO_MODE_CHARGE}" /><!-- 收费 -->
			</map>
		</property>
	</bean>
	<!-- 套餐服务接口 -->
	<bean id="packageService" class="com.examw.netplatform.service.admin.courses.impl.PackageServiceImpl">
		<!-- 套餐数据接口 -->
		<property name="packageDao" ref="packageMapper"/>
		<!-- 机构数据接口 -->
		<property name="agencyDao" ref="agencyMapper"/>
		<!-- 考试数据接口 -->
		<property name="examDao" ref="examMapper"/>
		<!-- 考试科目数据接口 -->
		<property name="subjectDao" ref="subjectMapper" />
		<!-- 班级数据接口 -->
		<property name="classPlanDao" ref="classMapper"/>
		<property name="classPlanService" ref="classService"/>
		<!-- 状态映射 -->
		 <property name="statusMap">
	   		<map>
	   			 <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	   		</map>
	   </property>
	</bean>
	<!-- 课程管理 服务接口实现 end -->
</beans>