<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 基础设置 数据接口实现 begin -->
	<!-- 地区Dao -->
	<bean id="areaMapper"  parent="baseMapper">
	    <!-- 地区接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.AreaMapper" />
	</bean>
	
	<!-- 考试类别Dao -->
	<bean id="categoryMapper"  parent="baseMapper">
	    <!-- 考试类别接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.CategoryMapper" />
	</bean>
	
	<!-- 考试Dao -->
	<bean id="examMapper"  parent="baseMapper">
	    <!-- 考试接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.ExamMapper" />
	</bean>
	
	<!-- 考试科目Dao -->
	<bean id="subjectMapper" parent="baseMapper">
	    <!-- 考试科目类别接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.SubjectMapper" />
	</bean>
	
	<!-- 科目章节Dao -->
	<bean id="chapterMapper"  parent="baseMapper">
	    <!-- 章节接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.ChapterMapper" />
	</bean>
	
	<!-- 班级类型Dao -->
	<bean id="classTypeMapper" parent="baseMapper">
	    <!-- 班级类型接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.ClassTypeMapper"/>
	</bean>
	
	<!-- 培训机构Dao -->
	<bean id="agencyMapper" parent="baseMapper">
	    <!-- 培训机构接口 -->
	    <property name="mapperInterface"  value="com.examw.netplatform.dao.admin.settings.AgencyMapper" />
	</bean>
	<!-- 基础设置 数据接口实现 end -->
</beans>