<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 课程管理 数据接口实现 begin -->
	<!-- 班级Dao -->
	<bean id="classMapper" parent="baseMapper">
	    <!-- 班级接口 -->
		<property name="mapperInterface"  value="com.examw.netplatform.dao.admin.courses.ClassMapper" />
	</bean>
	
	<!-- 课时资源Dao -->
	<bean id="lessonMapper" parent="baseMapper">
	    <!-- 课时资源接口 -->
		<property name="mapperInterface"  value="com.examw.netplatform.dao.admin.courses.LessonMapper" />
	</bean>
	
	<!-- 套餐Dao -->
	<bean id="packageMapper" parent="baseMapper">
	    <!-- 套餐接口 -->
		<property name="mapperInterface"  value="com.examw.netplatform.dao.admin.courses.PackageMapper" />
	</bean>
	<!-- 课程管理 数据接口实现 end -->
</beans>