<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- service -->
	<!-- 学员管理 服务接口实现 begin -->
	<!-- 学员用户服务  -->
	<!-- <bean id="studentService" class="com.examw.netplatform.service.admin.students.impl.StudentServiceImpl" parent="agencyUserService">
	    订单服务接口
	    <property name="orderService" ref="orderService" />
	</bean> -->
	<!-- 订单服务 -->
	<bean id="orderService" class="com.examw.netplatform.service.admin.students.impl.OrderServiceImpl">
	    <!-- 订单数据接口 -->
	    <property name="orderDao" ref="orderMapper" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userMapper" />
	    <!-- 套餐数据接口 -->
	    <property name="packageDao" ref="packageMapper" />
	    <!-- 班级数据接口 -->
	    <property name="classPlanDao" ref="classMapper" />
	    <!-- 订单来源值名称集合 -->
	    <property name="sourceMap">
	        <map>
	            <entry key="1" value="${ORDER_SOURCE_AGENCY}" /><!-- 机构预订 -->
	            <entry key="2" value="${ORDER_SOURCE_CHOICE}" /><!-- 学员自选 -->
	        </map>
	    </property>
	    <!-- 订单状态值名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="-1" value="${ORDER_STATUS_DISABLE}" /><!-- 取消 -->
	            <entry key="0" value="${ORDER_STATUS_ENABLED}" /><!-- 正常 -->
	            <entry key="1" value="${ORDER_STATUS_OPENED}" /><!-- 开通 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 进度服务 -->
	<bean id="learningService" class="com.examw.netplatform.service.admin.students.impl.LearningServiceImpl">
	    <!-- 进度数据接口 -->
	    <property name="learningDao" ref="learningMapper" />
	</bean>
	<!-- 学员管理 服务接口实现 end -->
</beans>