<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
		
		<!--引入参数属性文件 -->
		<context:property-placeholder location="classpath:config.properties" />
		<!-- hibernate 配置 -->
		<!-- <import resource="spring-netplatform-hibernate.xml" /> -->
		<!-- dao -->
		<import resource="spring-netplatform-dao.xml" />
		<!-- service -->
		<import resource="spring-netplatform-service.xml" />
		<!-- shiro -->
		<import resource="spring-netplatform-shiro.xml" />
</beans>