<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- service -->
	<!-- 基础设置 服务接口实现 begin -->
	<!-- 地区服务接口 -->
	<bean id="areaService" class="com.examw.netplatform.service.admin.settings.impl.AreaServiceImpl">
	    <!-- 地区数据接口 -->
	    <property name="areaDao" ref="areaMapper" />
	</bean>
	
	<!-- 考试类别服务接口 -->
	<bean id="categoryService" class="com.examw.netplatform.service.admin.settings.impl.CategoryServiceImpl">
	    <!-- 考试类别数据接口 -->
	    <property name="categoryDao" ref="categoryMapper" />
	</bean>
	
	<!-- 考试服务接口 -->
	<bean id="examService" class="com.examw.netplatform.service.admin.settings.impl.ExamServiceImpl">
	    <!-- 考试数据接口 -->
	    <property name="examDao" ref="examMapper" />
	    <!-- 科目数据接口 -->
	    <property name="subjectDao" ref="subjectMapper" />
	    <!-- 考试类别数据接口 -->
	    <property name="categoryDao" ref="categoryMapper" />
	    <!-- 地区服务接口 -->
	    <property name="areaService" ref="areaService" />
	    <!-- 考试状态值名称 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 考试科目服务接口 -->
	<bean id="subjectService" class="com.examw.netplatform.service.admin.settings.impl.SubjectServiceImpl">
	    <!-- 考试科目数据接口 -->
	    <property name="subjectDao"  ref="subjectMapper" />
	    <!--  地区数据接口 -->
	    <property name="areaDao" ref="areaMapper" />
	    <!-- 章节数据接口 -->
	    <property name="chapterDao" ref="chapterMapper" />
	    <!-- 考试服务接口 -->
	    <property name="examService" ref="examService" />
	    <!-- 考试科目状态值名称 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 章节服务接口 -->
	<bean id="chapterService" class="com.examw.netplatform.service.admin.settings.impl.ChapterServiceImpl">
	    <!-- 章节数据接口 -->
	    <property name="chapterDao" ref="chapterMapper" />
	   	<!-- 科目数据接口 -->
	   	<property name="subjectDao" ref="subjectMapper" />
	    <!-- 章节状态值名称 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 班级类型服务接口 -->
	<bean id="classTypeService" class="com.examw.netplatform.service.admin.settings.impl.ClassTypeServiceImpl">
	    <!-- 班级类型数据接口 -->
	    <property name="classTypeDao" ref="classTypeMapper" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	</bean>
	
	<!-- 培训机构服务接口 -->
	<bean id="agencyService" class="com.examw.netplatform.service.admin.settings.impl.AgencyServiceImpl">
	    <!-- 培训机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 培训机构状态值名称 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${STATUS_DISABLE}" /><!-- 停用 -->
	            <entry key="1" value="${STATUS_ENABLED}" /><!-- 启用 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 消息服务接口 -->
	<bean id="msgService" class="com.examw.netplatform.service.admin.settings.impl.MsgServiceImpl">
	    <!-- 消息数据接口 -->
	    <property name="msgDao" ref="msgMapper" />
	    <!-- 用户数据接口 -->
	    <property name="userDao" ref="userMapper" />
	    <!-- 机构数据接口 -->
	    <property name="agencyDao" ref="agencyMapper" />
	    <!-- 状态枚举名称集合 -->
	    <property name="statusMap">
	        <map>
	            <entry key="0" value="${MSG_STATUS_UNREAD}" /><!-- 未读 -->
	            <entry key="1" value="${MSG_STATUS_READ}" /><!-- 已读 -->
	        </map>
	    </property>
	    <!-- 类型枚举名称集合 -->
	    <property name="typeMap">
	        <map>
	            <entry key="0" value="${MSG_TYPE_SYS}" /><!-- 系统消息 -->
	            <entry key="1" value="${MSG_TYPE_AGENCY}" /><!-- 机构消息 -->
	        </map>
	    </property>
	</bean>
	
	<!-- 基础设置 服务接口实现 end -->
</beans>
