<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- service -->
	<!-- 附件上传服务 -->
	<bean id="fileUploadService" class="com.examw.netplatform.service.impl.FileUploadServiceImpl">
	    <!-- 下载预览临时存储目录 -->
		<property name="tempStoragePath" value="${uploadFolder}" />
		<!-- 附件数据接口 -->
		<property name="attachmentDao" ref="attachmentMapper"/>
	</bean>
	<!-- 系统管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-security.xml"/>
	<!-- 系统管理 服务接口实现 end -->
	
	<!-- 基础设置 服务接口实现 begin -->
	<import resource="spring-netplatform-service-settings.xml"/>
	<!-- 基础设置 服务接口实现 end -->
	
	<!-- 课程管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-courses.xml"/>
	<!-- 课程管理 服务接口实现 end -->
	
	<!-- 试卷管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-teachers.xml"/>
	<!-- 试卷管理 服务接口实现 end -->
	
	<!-- 学员管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-students.xml"/>
	<!-- 学员管理 服务接口实现 end -->
	
	<!-- API接口 -->
	<bean id="moblieApiService" class="com.examw.netplatform.service.impl.MobileAPIServiceImpl">
	    <!-- 设置订单数据接口 -->
	    <property name="orderDao" ref="orderMapper" />
	    <!-- 设置课时资源数据接口 -->
	    <property name="lessonDao" ref="lessonMapper" />
	    <!-- 设置进度数据接口 -->
	    <property name="learningDao" ref="learningMapper" />
	    <!-- 设置用户授权服务 -->
	    <property name="userAuthorization" ref="userService" />
	    <!-- 设置密码帮助类 -->
	    <property name="passwordHelper" ref="passwordHelper" />
	</bean>
</beans>