<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 基础设置 数据接口实现 begin -->
	<!-- 地区Dao -->
	<bean id="areaDao" class="com.examw.netplatform.dao.admin.settings.impl.AreaDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试类别Dao -->
	<bean id="categoryDao" class="com.examw.netplatform.dao.admin.settings.impl.CategoryDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试Dao -->
	<bean id="examDao" class="com.examw.netplatform.dao.admin.settings.impl.ExamDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试科目Dao -->
	<bean id="subjectDao" class="com.examw.netplatform.dao.admin.settings.impl.SubjectDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 科目章节Dao -->
	<bean id="chapterDao" class="com.examw.netplatform.dao.admin.settings.impl.ChapterDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 班级类型Dao -->
	<bean id="classTypeDao" class="com.examw.netplatform.dao.admin.settings.impl.ClassTypeDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 培训机构Dao -->
	<bean id="agencyDao" class="com.examw.netplatform.dao.admin.settings.impl.AgencyDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 基础设置 数据接口实现 end -->
</beans>