<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
			 xmlns:util="http://www.springframework.org/schema/util"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			 								   http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- service -->
	<!-- 试卷管理 服务接口实现 begin --> 
	<!-- 试卷服务 -->
	<bean id="paperService"  class="com.examw.netplatform.service.admin.papers.impl.PaperServiceImpl"> 
	   <!-- 试卷数据接口 -->
	   <property name="paperDao" ref="paperDao" />
	   <!-- 机构数据接口 -->
	   <property name="agencyDao"  ref="agencyDao" />
	   <!-- 考试科目数据接口 -->
	   <property name="subjectDao"  ref="subjectDao" />
	   <!-- 试卷结构数据接口 -->
	   <property name="structureDao"  ref="structureDao" />
	   <!-- 试卷题目数据接口 -->
	   <property name="structureItemDao" ref="structureItemDao" />
	   <!-- 题目数据接口 -->
	   <property name="itemDao"  ref="itemDao" />
	   <!-- 题目服务接口 -->
	   <property name="itemService"  ref="itemService" />
	   <!-- 试卷类型设置 -->
	    <property name="typeMap">
	   		<map>
	   			<!--真题 -->
	   			<entry key="1"  value="${PAPER_TYPE_REAL}" />
	   			<!-- 模拟 -->
	   			<entry key="2"  value="${PAPER_TYPE_SIMULATE}" />
	   			<!-- 预测 -->
	   			<entry key="3"  value="${PAPER_TYPE_FORECAST}" />
	   			<!-- 练习题 -->
	   			<entry key="4"  value="${PAPER_TYPE_PRACTICE}" />
	   			<!-- 课堂练习 -->
	   			<entry key="5"  value="${PAPER_TYPE_CLASS_PRACTICE}" />
	   		</map>
	   </property>
	   <!-- 试卷状态 -->
	   <property name="statusMap">
	   		<map>
	   			<!-- 未审核 -->
	   			<entry key="0"  value="${PAPER_STATUS_DISABLE}" />
	   			<!-- 已审核 -->
	   			<entry key="1"  value="${PAPER_STATUS_ENABLED}" />
	   		</map>
	   </property>
	</bean>
	<!-- 试题服务 -->
	<bean id="itemService"  class="com.examw.netplatform.service.admin.papers.impl.ItemServiceImpl"> 
	   <!-- 试题数据接口 -->
	   <property name="itemDao" ref="itemDao" />
	   <!-- 试卷题目数据接口 -->
	   <property name="structureItemDao" ref="structureItemDao" />
	   <!-- 机构数据接口 -->
	   <property name="agencyDao"  ref="agencyDao" />
	   <!-- 考试科目数据接口 -->
	   <property name="subjectDao" ref="subjectDao" />
	   <!-- 科目章节数据接口 -->
	   <property name="chapterDao"  ref="chapterDao" />
	   <!-- 题目校验码生成工具类 -->
	   <property name="itemCheckCodeHelper">
	   		<bean class="com.examw.netplatform.support.ItemCheckCodeHelper" />
	   </property>
	   <!-- 题型 -->
	   <property name="typesMap" >
	   		<map>
	   			<!-- 单选 -->
				<entry  key="1"  value="${ITEM_TYPE_SINGLE}" />
				<!-- 多选 -->
				<entry  key="2"  value="${ITEM_TYPE_MULTY}" />
				<!-- 不定向选 -->
				<entry  key="3"  value="${ITEM_TYPE_UNCERTAIN}" />
				<!-- 判断题 -->
				<entry  key="4"  value="${ITEM_TYPE_JUDGE}" />
				<!-- 问答题 -->
				<entry  key="5"  value="${ITEM_TYPE_QANDA}" />
				<!-- 共享题干 -->
				<entry  key="6"  value="${ITEM_TYPE_SHARE_TITLE}" />
				<!-- 共享答案 -->
				<entry  key="7"  value="${ITEM_TYPE_SHARE_ANSWER}" />
	   		</map>
	   </property>
	   <!-- 题目状态 -->
	   <property name="statusMap">
	   		<map>
	   			<entry key="0"  value="${STATUS_DISABLE}" />
	   			<entry key="1"  value="${STATUS_ENABLED}" />
	   		</map>
	   </property>
	   <!-- 判断题答案名称 -->
	   <property name="judgeMap">
	   		<map>
	   			<!-- 正确 -->
	   			<entry key="1" value="${ITEM_TYPE_ANSWER_JUDGE_RIGTH}" />
	   			<!-- 错误 -->
	   			<entry key="0"  value="${ITEM_TYPE_ANSWER_JUDGE_WRONG}" />
	   		</map>
	   </property>
	</bean>
	<!-- 试卷笔记服务 -->
	<bean id="noteService" class="com.examw.netplatform.service.admin.papers.impl.NoteServiceImpl">
		<!-- 试卷笔记数据接口 -->
		<property name="noteDao" ref="noteDao"/>
		<!-- 试卷数据接口 -->
		<property name="paperDao"  ref="paperDao" />
		<!-- 试卷题目数据接口 -->
		<property name="structureItemDao"  ref="structureItemDao" />
		<!-- 用户数据接口 -->
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 试卷管理 服务接口实现 end -->
</beans>