<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 教师管理 服务接口实现 begin -->
	<!-- 教师服务 -->
	<bean id="teacherService"  class="com.examw.netplatform.service.admin.teacher.impl.TeacherServiceImpl">
		<!--  机构用户数据接口 -->
	    <property name="agencyUserDao" ref="agencyUserDao" />
	    <!-- 机构服务接口 -->
	    <property name="agencyService" ref="agencyService" />
	    <!-- 用户服务接口 -->
	    <property name="userService" ref="userService" />
	    <!-- 机构用户身份名称集合 -->
	    <property name="identityNameMap">
	        <map>
	            <entry key="1" value="${IDENTITY_ADMIN}" /><!-- 机构管理员 -->
	            <entry key="2" value="${IDENTITY_TEACHER}" /><!-- 机构教师 -->
	            <entry key="3" value="${IDENTITY_STUDENT}" /><!-- 机构学员 -->
	            <entry key="4" value="${IDENTITY_CARDSTUDENT}" /><!-- 学习卡学员 -->
	        </map>
	    </property>
	</bean>
	<!-- 教师管理 服务接口实现 end -->
	<bean id="statisticsService"  class="com.examw.netplatform.service.admin.teacher.impl.AnswersQuestionStatisticsServiceImpl">
		<!-- 用户数据接口 -->
		<!-- <property name="teacherDao"  ref="teacherDao" /> -->
		<!--用户数据接口 -->
		<!-- <property name="answersQuestionDao"  ref="answersQuestionDao" /> -->
	</bean>
</beans>