<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 附件上传服务 -->
	<bean id="fileUploadService" class="com.examw.netplatform.service.impl.FileUploadServiceImpl">
	    <!-- 下载预览临时存储目录 -->
		<property name="tempStoragePath" value="${uploadFolder}" />
		<!-- 附件数据接口 -->
		<property name="attachmentDao" ref="attachmentDao" />
		<!-- 附件存储接口 -->
		<property name="attachmentStorageDao" ref="attachmentStorageDao" />
	</bean>
	<!-- 系统管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-security.xml"/>
	<!-- 系统管理 服务接口实现 end -->
	
	<!-- 基础设置 服务接口实现 begin -->
	<import resource="spring-netplatform-service-settings.xml"/>
	<!-- 基础设置 服务接口实现 end -->
	
	<!-- 课程管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-courses.xml"/>
	<!-- 课程管理 服务接口实现 end -->
	
	<!-- 试卷管理 服务接口实现 begin -->
	<import resource="spring-netplatform-service-teacher.xml"/>
	<!-- 试卷管理 服务接口实现 end -->
	
	<!-- 学员管理 服务接口实现 begin -->
	<!-- <import resource="spring-netplatform-service-students.xml"/> -->
	<!-- 学员管理 服务接口实现 end -->
	
	<!-- 试卷管理 服务接口实现 begin -->
	<!-- <import resource="spring-netplatform-service-papers.xml"/> -->
	<!-- 试卷管理 服务接口实现 end -->
	
	<!-- 课程答疑服务 -->
	<!-- <bean id="answersQuestionService" class="com.examw.netplatform.service.admin.impl.AnswersQuestionServiceImpl">
	    答疑数据接口
	    <property name="answersQuestionDao" ref="answersQuestionDao"/>
		课时数据接口 
		<property name="lessonDao" ref="lessonDao"/>
		用户数据接口
		<property name="userDao" ref="userDao"/>
		状态映射
		 <property name="statusMap">
	   		<map>
	   			<entry key="1"  value="提问" />
	   			<entry key="2"  value="已回答" />
	   			<entry key="3"  value="完结" />
	   		</map>
	   </property>
	</bean>
	
	课程答疑服务
	<bean id="agencyStatisticsService" class="com.examw.netplatform.service.admin.impl.AgencyStatisticsServiceImpl">
	    机构数据接口
	    <property name="agencyDao" ref="agencyDao"/>
		套餐数据接口
		<property name="packageDao" ref="packageDao"/>
		学员数据接口
		<property name="studentDao" ref="studentDao"/>
		老师数据接口
		<property name="teacherDao" ref="teacherDao"/>
		订单数据接口
		<property name="orderDao" ref="orderDao"/>
	</bean> -->
</beans>
