@charset "utf-8";
/*public img*/
.one-on,.one-off,.two-on,.two-off,.keshi,.number,.pinglun,.fenxiang a,.shoucang,.content .cont .jie li .jie-left .tit span,.content .cont .jie li .jie-right span,.content .cont .jie li .jie-right em,.pic-bg,.zan,.huifu{ background:url(../images/gd.png) no-repeat}
/* list CSS */
.w950{ width:950px; height:auto}
.content,.recommend{padding:1px; height:auto; float:left; border:#dfdfdf solid 1px; background:#fff}
.content{ width:946px}
.recommend{ width:226px; overflow:hidden}
/*标题/名称*/
.bg-c{ width:100%; height:auto; float:left; background:#f2f2f2}
.bg-c .tit{ width:100%; height:18px; padding:6px 0; font:14px/18px ""; color:#525252}
.bg-c .tit i{ padding-left:30px}
.bg-c .tit em{color:#0db3f1; font:16px/18px "Arial"; vertical-align:middle; padding:0 3px}
.bg-c .tit span{ width:18px; float:left; height:18px; margin-right:8px; border-right:#0db3f1 solid 4px}
.bg-c .tit dl{ width:14px; float:left; height:18px; margin-right:8px; border-right:#0db3f1 solid 4px}
.bg-c .tit-kch{ width:100%; height:26px; padding:10px 0 9px 0; font:14px/18px ""; color:#525252}
.bg-c .tit-kch .ju{ padding:5px 18px 0 0}
.bg-c .tit-kch .on,.off{ width:83px; margin-left:18px; _margin-left:8px; float:left; text-align:center; cursor:pointer}
.bg-c .tit-kch .on{ height:26px; _padding-top:4px; _height:22px; background:#0db3f1; font:14px/26px""; color:#fff}
.bg-c .tit-kch .off{ height:24px; _padding-top:4px; _height:20px; border:#d4d4d4 solid 1px; font:14px/24px""; color:#525252}
.bg-c .tit-kch .one-on,.one-off,.two-on,.two-off{ width:15px; height:15px; margin-left:22px; float:right; cursor:pointer}
.bg-c .tit-kch .one-on a,.one-off a,.two-on a,.two-off a{ width:15px; height:15px; float:left}
.bg-c .tit-kch .two-on{ background-position:-351px -85px}
.bg-c .tit-kch .two-off{ background-position:-391px -85px}
.bg-c .tit-kch .one-on{ background-position:-470px -85px}
.bg-c .tit-kch .one-off{ background-position:-430px -85px}
/*考试分类名称*/
.class-box{ padding:5px 14px; width:912px}
.class-box .list li{ width:228px; float:left; text-align:left; color:#999; font:14px/35px "宋体"}
.class-box .list li a,.list-class li a{ padding:0 5px 0 3px}
.class-box .list li span,.list-class li span{ font-family:Arial}
.class-box .list-class li{ width:182.2px; float:left; text-align:left; color:#999; font:14px/35px "宋体"}
/*单个一列的课程*/
.one-kch li{ border-bottom:#dedede dotted 1px; padding:18px; float:left; width:910px}
.one-kch li.out{ background:#fff}
.one-kch li.over{ background:#fefdf6}
.one-kch li .pic{padding-right:13px}
.one-kch li .pic a:link,.one-kch li .pic a:visited,.one-kch li .pic a:active{width:267px; height:150px; float:left}
.one-kch li .pic a:hover{width:267px; height:150px; float:left;-moz-box-shadow:-1px 0px 3px #999, 1px 0px 3px #999;-webkit-box-shadow:-1px 0px 3px #999, 1px 0px 3px #999;box-shadow:-1px 0px 3px #999, 1px 0px 3px #999}
.one-kch li .cont{width:355px}
.one-kch li .cont .tit,.teacher,.two-kch li .cont .tit,.teacher{width:100%; float:left; display:block; overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.one-kch li .cont .tit,.two-kch li .cont .tit{font:bold 16px/30px ""}
.one-kch li .cont .tit a:link,.one-kch li .cont .tit a:visited,.one-kch li .cont .tit a:active,.two-kch li .cont .tit a:link,.two-kch li .cont .tit a:visited,.two-kch li .cont .tit a:active{ color:#252525}
.one-kch li .cont .tit a:hover,.two-kch li .cont .tit a:hover{ color:#cc0000}
.one-kch li .cont .teacher,.two-kch li .cont .teacher{font:14px/24px ""; padding-top:5px; color:#777}
.one-kch li .cont .summary{ height:80px; padding-top:10px; text-indent:24px; overflow:hidden;font:12px/20px ""; color:#444}
.one-kch li .buy{width:125px; padding-left:20px}
.one-kch li .buy .jiage{ font:30px/65px "Arial"; color:#f50}
.one-kch li .buy .jiage span{ font-size:14px; color:#777}
.one-kch li .buy .keshi,.number{padding-left:20px; font:12px/24px ""; color:#999}
.one-kch li .buy .keshi,.two-kch li .pic .keshi,.recommend .list li .ico .keshi,.explicit .cont .list li .keshi{background-position:-552px -51px}
.one-kch li .buy .number,.two-kch li .pic .number,.recommend .list li .ico .number,.explicit .cont .list li .number{background-position:-552px -73px}
.one-kch li .buy .keshi span,.number span,.two-kch li .pic .keshi span,.number span,.recommend .list li .ico .keshi span,.number span,.explicit .cont .list li .keshi span,.number span,.pinglun span{ color:#0db3f1; font-family:Arial; font-size:13px; padding-right:2px}
.one-kch li .bm-btn,.buy-btn{ width:110px; height:40px; line-height:40px; text-align:center}
.one-kch li .bm-btn{margin-top:13px; _margin-top:10px}
.one-kch li .buy-btn{ margin-top:22px; _margin-top:21px}
/*两个一列的课程*/
.two-kch li{ width:427px; height:208px; float:left; border:#dfdfdf solid 1px; padding:18px 18px 10px 18px; margin:0px 20px 20px 0; _overflow:hidden}
.two-kch li.out{ background:#fff}
.two-kch li.over{ background:#fefdf6;-moz-box-shadow:-1px 0px 3px #eee, 1px 0px 3px #ddd;-webkit-box-shadow:-1px 0px 3px #eee, 1px 0px 3px #ddd;box-shadow:-1px 0px 3px #eee, 1px 0px 3px #ddd}
.two-kch li .pic{ width:200px; padding-right:18px}
.two-kch li .pic a{ width:100%}
.two-kch li .pic .keshi{ width:35%; padding-left:10%; font:12px/24px ""; margin-top:10px; color:#999}
.two-kch li .pic .number{ width:45%; padding-left:10%; font:12px/24px ""; margin-top:10px; color:#999}
.two-kch li .cont{width:209px}
.two-kch li .cont .summary{ height:80px; padding-top:5px; text-indent:24px; overflow:hidden;font:12px/20px ""; color:#444}
.two-kch li .btn{ width:100%; margin-top:5px; border-top:#e8e8e8 solid 1px; padding-top:5px;}
.two-kch li .btn .buy{ width:50%;font:30px/55px "Arial"; color:#f50}
.two-kch li .btn .buy span{ font-size:14px; color:#777}
.two-kch li .btn .bm-btn,.btn .buy-btn{ width:100px; padding-top:8px; line-height:40px; text-align:center}
/*推荐 recommend*/
.recommend .list li{ width:200px; float:left; margin-left:13px; _margin-left:7px; margin-top:12px; padding-bottom:5px; border-bottom:#ddd dotted 1px}
.recommend .list li .pic a:link,.recommend .list li .pic a:visited,.recommend .list li .pic a:active,.two-kch li .pic span a:link,.two-kch li .pic span a:visited,.two-kch li .pic span a:active{width:200px; height:113px; float:left}
.recommend .list li .pic a:hover,.two-kch li .pic span a:hover{width:200px; height:113px; float:left;-moz-box-shadow:-1px 0px 3px #999, 1px 0px 3px #999;-webkit-box-shadow:-1px 0px 3px #999, 1px 0px 3px #999;box-shadow:-1px 0px 3px #999, 1px 0px 3px #999}
.recommend .list li .tit{width:100%; float:left; text-align:center; display:block; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font:12px/34px ""}
.recommend .list li .tit a:link,.recommend .list li .tit a:visited,.recommend .list li .tit a:active{ color:#252525}
.recommend .list li .tit a:hover{ color:#cc0000}
.recommend .list li .ico{ width:60%}
.recommend .list li .ico .keshi,.number{width:80%; padding-left:20px; font:12px/24px ""; color:#999}
.recommend .list li .btn{ width:40%; text-align:center; height:24px; font:14px/24px "宋体"; color:#fff; margin-top:10px}
/*详细播放页*/
.explicit{ width:1162px; border:#dfdfdf solid 1px; background:#fff; height:auto; padding:18px}
.explicit .pic{ width:640px; height:360px; padding-right:30px;}
.explicit .cont{ width:492px; height:auto;}
.explicit .cont .name{ width:100%; height:auto; border-bottom:#e8e8e8 solid 1px; padding-bottom:10px; font:22px/26px "黑体"; color:#333}
.explicit .cont .buy{ width:100%; height:auto; padding:10px 0}
.explicit .cont .buy .sales,.tejia{ width:auto; height:18px; padding:0 8px; margin-top:8px; font:12px/18px ""; color:#fff;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px}
.explicit .cont .buy .sales{ background:#ff4000}
.explicit .cont .buy .tejia{ background:#1CB177}
.explicit .cont .buy .jia{ padding:0px 10px; width:auto;font:30px/30px "Arial"; color:#f50}
.explicit .cont .buy .jia span{ font-size:14px; color:#777}
.explicit .cont .buy .jia em{ font-size:14px; color:#999; text-decoration:line-through; padding-left:20px}
.explicit .cont .buy .fenxiang a{ height:20px; margin-top:4px; width:30px; float:right; padding-right:12px; border-right:#dfdfdf solid 1px; background-position:0px -105px}
.explicit .cont .buy .shoucang{ height:20px; margin-top:4px; width:auto; padding-right:5px; padding-left:40px; line-height:20px; font-size:14px; float:right; background-position:-30px -105px}
.explicit .cont .buy .shoucang a{ color:#ff8f1c}
.explicit .cont .buy .shoucang a:hover{ text-decoration:underline}
.explicit .cont .list li{ color:#777; font:14px/26px ""; width:100%; float:left}
.explicit .cont .list li b{ color:#333}
.explicit .cont .list li i{ color:#f00}
.explicit .cont .list li .keshi,.explicit .cont .list li .number,.explicit .cont .list li .pinglun{ float:left; width:auto; padding:0 25px 0 18px; font:12px/24px ""; margin-top:5px; color:#999}
.explicit .cont .list li .pinglun{ background-position:-552px -95px}
.explicit .cont .btn{ width:168px; padding:20px 35px 0 0; font-family:"黑体"; font-size:24px; line-height:54px; text-align:center}
/*课程详细切换*/
.bg-c .tab{ height:50px; text-align:center; width:100%}
.bg-c .tab .kchon{ width:220px; font: bold 16px/50px "宋体"; color:#fff; background:#0db3f1; float:left; cursor:pointer}
.bg-c .tab .kchoff{ width:220px; font: bold 16px/50px "宋体"; color:#525252; background:#f2f2f2; float:left; cursor:pointer}

/*课程目录*/
.content .cont .zhang{ width:97%; padding-left:3%; border-bottom:#ccc solid 1px; padding-top:20px; font:bold 16px/40px "宋体"; color:#333}
.content .cont .jie li{width:97%; height:40px; padding-left:3%; font:14px/40px "宋体"; border-bottom:#dfdfdf dotted 1px;}
.content .cont .jie li:last-child{ border-bottom:none}
.content .cont .jie li.out{ background:#fff}
.content .cont .jie li.over{ background:#fefdf6}
.content .cont .jie li .jie-left{ width:89%; float:left}
.content .cont .jie li .jie-left .name{ width:auto; padding-right:15px; color:#999}
.content .cont .jie li .jie-left .tit{ width:auto; color:#555}
.content .cont .jie li .jie-left .tit span{ width:15px; height:15px; padding-right:20px; background-position:-250px -128px}
.content .cont .jie li .jie-right{ width:11%; float:right}
.content .cont .jie li .jie-right span{ width:25px; height:15px; padding-right:25px; background-position:-300px -128px}
.content .cont .jie li .jie-right em{ width:25px; height:15px; padding-right:25px; background-position:-390px -128px}
/*课程评论*/
.textbook-top{ width:96%; padding:0 2%; border-bottom:#eee solid 1px; height:24px; font:12px/24px ""; color:#999; background:#fafafa;}
.textbook-box{width:916px; height:auto!important; height:80px; min-height:80px; padding:5px 15px; background:#fafafa; border-bottom:#dfdfdf solid 1px}
.textbook{width:916px; height:auto!important; height:80px; min-height:80px; padding:5px 15px; border-bottom:#dfdfdf solid 1px}
.textbook .txt{ width:100%;height:auto!important; height:80px; min-height:80px; float:left; position:relative}
.textbook .pic-bg{ width:70px; height:70px; float:left; background-position:0px -175px; position:absolute; _left:-3px; *left:-3px; z-index:99}
.textbook .quan{width:55px; height:55px; float:left; border:4px solid #f6f6f6; border-radius:37px; border:0px solid #fff\9; border-radius:0px\9; position:absolute; left:4px; top:3px; z-index:999}
.textbook .pic-bg a{width:58px; height:58px; float:left; margin:4px 0 0 6px}
.textbook .pic{ width:70px; height:70px; float:left; position:absolute; _left:-3px; *left:-3px; z-index:9}
.textbook .f-right{ width:836px; height:auto; float:right}
.textbook .hf-right{ width:756px; height:auto; float:right}
.textbook .vipname{ width:100%; height:35px; text-align:left; font:14px/35px "宋体"}
.textbook .vipname span{ color:#999; padding-left:20px;font:12px/35px "宋体"}
.textbook .vipname a:link,.textbook .vipname a:visited,.textbook .vipname a:active{ color:#379BE9}
.textbook .vipname a:hover{ color:#ff6000}
.textbook .pinglun-box{ width:100%; height:auto; padding:5px 0; text-align:left; font:14px/24px "宋体"}
.textbook .zan a:link,.textbook .zan a:visited,.textbook .zan a:active{ padding-left:22px; float:right; font:12px/24px "宋体"; width:auto; background-position:-195px -235px; color:#777}
.textbook .zan a:hover{ float:right; background-position:-195px -262px; color:#252525; font:12px/24px "宋体"; width:auto}
.textbook .huifu a:link,.textbook .huifu a:visited,.textbook .huifu a:active{ margin-left:30px; margin-right:5px; padding-left:24px; float:right; font:12px/24px "宋体"; width:auto; background-position:-325px -237px; color:#777}
.textbook .huifu a:hover{ float:right; background-position:-326px -262px; color:#252525; font:12px/24px "宋体"; width:auto}
.textbook .huifubook,.textbook-box .book-box{ padding:10px 15px;border:#e4e4e4 solid 1px; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; height:auto!important; height:60px; min-width:60px; text-align:left; font:14px/20px "宋体"; margin:20px 0 10px 0}
.textbook .huifubook{width:806px}
.textbook-box .book-box{width:886px}
.sure{font:16px/30px "黑体"}
.textbook .huifubox{ width:836px; border-top:#dfdfdf dotted 1px; float:left}
.sure a:link,.sure a:visited,.sure a:active{ background:#ff8400; float:right; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#fff; width:auto; height:30px; padding:2px 25px}
.sure a:hover{background:#ff6000; float:right; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#fff; width:auto; height:30px; padding:2px 25px}



