@charset "utf-8";
*html,* html body{background-image:url(about:blank);background-attachment:fixed} /* 修正IE6振动bug */
body{color:#666; font-size:12px; line-height:1.4; font-family:\5B8B\4F53,"宋体"; background:#f2f2f2}
body,form,input,ul,dl,dd,p,h1,h2,h3,h4,h5,h6,textarea,pre{margin:0;font-weight:normal}
ul,input{padding:0}
ul,li{list-style:none; float:left; list-style-position:outside}
h1,h2,h3,h4,h5,h6,input,button,textarea{font-size:100%}
a{ text-decoration:none}
a img{border:none}
a,button{cursor:pointer} 
i,em{font-style:normal}
label{ cursor:pointer}
label input{ vertical-align:middle}
textarea{overflow:auto; resize:none}
.fl{ float:left}
.fr{ float:right}
.h30{ width:100%; height:30px; float:left}
.h20{ width:100%; height:20px; float:left}
.red{ color:#f00 !important}
.cc{ color:#ddd; padding:0 10px}
.cc1{ color:#ddd; padding-right:7px}
.c9{ color:#999; padding:0 3px}
.ff-a{ font-family:Arial !important}
.lh40{ line-height:40px !important}
.pm-no{ padding-bottom:0px !important}
.fw{ font-size:30px !important; font-family:Arial !important; letter-spacing:3px; font-weight:bold !important}

.cheng-botton a:link,.cheng-botton a:visited,.cheng-botton a:active,.cheng-botton a:hover,
.lv-botton a:link,.lv-botton a:visited,.lv-botton a:active,.lv-botton a:hover{color:#fff;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; width:100%; height:auto; float:left}
.cheng-botton a:link,.cheng-botton a:visited,.cheng-botton a:active{ background:#ff4400}
.cheng-botton a:hover{ background:#ff5f25}
.lv-botton a:link,.lv-botton a:visited,.lv-botton a:active{ background:#1cb177}
.lv-botton a:hover{ background:#38c58e}

.yinying{-moz-box-shadow:-1px 0px 6px #eee, 1px 0px 5px #efefef;-webkit-box-shadow:-1px 0px 6px #eee, 1px 0px 5px #ccc;box-shadow:-1px 0px 5px #eee, 1px 0px 6px #ccc;}/*阴影*/
.logo,.log-bg,.reg-bg,.telnum span,.logname,.logpass,.buy-ico,.my,.texterr,.textdui,.textok{ background:url(../images/pub.png) no-repeat}/*public img*/

.bb-white{ width:100%; height:1px; background:#fff; overflow:hidden; float:left}
.bb-black{ width:100%; height:1px; background:#dfdfdf; overflow:hidden; float:left}
.top-logo{ height:90px; min-height:90px; height:auto !important; width:100%;}
.body-w{ width:1000px; height:auto; margin:0px auto}
.logo{ width:262px; height:69px; background-position:0 0; margin-top:10px}
.logo a{ width:262px; height:69px; float:left}
.log-bg,.reg-bg{ width:150px; height:46px; margin-top:22px; float:left}
.log-bg{background-position:0 -75px}
.reg-bg{background-position:-150px -75px}
.telnum{margin-top:10px;padding-left:30px;font: bold 24px/2.0 microsoft yahei;color:#d00}
.telnum span{ width:30px; height:26px; background-position:-270px 0px; float:left; margin-top:13px}
.teltime{ width:195px; margin-top:-3px; margin-left:32px; border:solid 1px #f4f4f4; background:#e8e8e8; vertical-align:middle; text-align:center; color:#888}
/*登录*/
.log{ width:980px; height:auto; border:10px #ddd solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:#fafafa; padding:20px 0; margin:30px 0}
.log-ea{ width:570px; height:340px; padding-left:20px; overflow:hidden}
.log-box{ margin-right:50px; _margin-right:25px; width:290px; height:auto}
.log-box .tishi{ color:#898989; width:100%; border-bottom:#e8e8e8 solid 1px; font:18px/30px "黑体";}
.log-box .logname,.log-box .logpass{ width:248px; height:45px; float:left; _line-height:45px; border:1px #dfdfdf solid; padding-left:40px; font:20px/45px ""; background-color:#fff }
.log-box .logname{ -webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:0px;
-webkit-border-bottom-left-radius:0px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-border-radius-bottomright:0px;
-moz-border-radius-bottomleft:0px;
border-top-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px; border-bottom:none; background-position:-272px -129px}
.log-box .logpass{ -webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-bottomleft:4px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px; background-position:-272px -170px}
.log-box .btn{ width:100%; height:46px; float:left; padding-bottom:20px; font:24px/46px "黑体"; text-align:center}
.log-box .error-mess {background: none repeat scroll 0 0 #fff0f0;float:left; border: 1px solid #ffd2d2; color: #b74d46; height: 26px; line-height: 26px;width: 100%;}
/*注册*/
.top{ width:1000px; height:37px; margin:0 auto; line-height:37px}
.top a:link,.top a:visited,.top a:active{ color:#666; text-decoration:none}
.top a:hover{ color:#f00}
.buy-ico{ width:20px; height:20px; background-position:-280px -40px; margin-top:5px; padding-right:3px; float:left}
.my{ float:left; position:relative; left:-13px; text-align:center;background-position:81px -135px}
.my .out{ width:89px; height:37px; float:left; overflow-y:hidden}
.my .over{ width:87px; height:auto; float:left; overflow-y:hidden; background:#fff; border-left:#ccc solid 1px; border-right:#ccc solid 1px;}
.my .over .box{ width:87px; height:auto; position:absolute; z-index:1; _top:37px; left:0px; border:#ccc solid 1px; border-top:none; background:#fff; text-align:center}
.my .out .box{ display:none}
.my .over .box li{ width:87px; line-height:24px; border-top:#ccc dotted 1px;}
/*注册box*/
.reg-box{ width:740px; height:420px; overflow:hidden; float:left; padding:30px 129px; border:1px #d4d4d4 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:#fafafa}
.list li{ width:100%; height:40px; padding-bottom:16px}
.list li em{ width:70px; font:14px/40px ""; height:40px; color:#777; float:left;text-align:right}
.list li .text{ width:240px; padding-left:10px; float:left; font:20px/40px "黑体"; _line-height:40px; height:38px; border:1px #dfdfdf solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
.list li .texterr{ border-color:#f00; background-position:0 -200px; background-color:#FFF;}
.list li .textdui{ border-color:#15bf19; background-position:0 -252px}
.list li .textok{ background-position:0 -252px; background-color:#FFF;}
.list li i{ width:400px; font-size:12px; float:left; line-height:20px; padding-left:10px; color:#999}
.c9{ color:#444}
.c9 a:link,.c9 a:visited,.c9 a:active{ color:#777}
.c9 a:hover{ color:#f00}
.reg-btn{ padding-left:70px; width:250px; float:left; overflow:hidden; font:20px/40px "黑体"; text-align:center}
/*footer*/
.footer{text-align:center; font:12px/24px Arial; color:#666; float:left; width:100%; height:auto; border-top:#fff solid 1px}
.footer img{ padding:10px 5px}
.footer .nva{ float:left; text-align:center; width:100%; padding:5px 0 10px 0; color:#ccc}
.footer .nva a{ padding:0px 10px}
.footer a:link,.footer a:visited,.footer a:active{ color:#666; text-decoration:none}
.footer a:hover{ color:#b10200}
.footer b{ color:#CC0000; font-size: 14px}
